{% extends 'basecorretora.html' %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>

    body {
        background-color: #1c1c1c;
        color: blanchedalmond;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0px;
        padding-left: 0%;
    }

    .caixaobs,
    #div_id_obs {
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 8px;
    }

    .caixacheck {
        margin-top: 2px;
        margin-bottom: 10px;
    }


    .ad-carga h4 {
        margin-left: 10px;
    }

    .savea {
        margin-right: 10px;
    }

    #id_obs {
        height: 100px;
    }

    input[type=text],
    input[type=number],
    div select {
        height: 32px !important;
        font-size: 15px !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    @media (min-width:980px) {
        .botoestop {
            margin-left: 14.5%;
        }
    }

    @media (min-width:980px) {
        .botoestop2 {
            margin-right: 36%;
        }
    }

    .formulario {
        background-color: #363639 ;
        border: 1px solid #ccc;
        padding: 20px;
        padding-bottom: 0px;
    }

    .formulario {
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }

    .botoes {
        margin-top: 5px;
    }

    #id_data_agenda { 
        background-color: rgba(226, 106, 106, 0.2); 
        color: whitesmoke;
        
    }
</style>



<form method="POST" novalidate class="needs-validation ">
    {% csrf_token %}
    <div class="container">
        <div class="form-row align-items-end">
            <div class="col ad-carga botoestop">
                <h4 style="float:left;"><span class="badge badge-success"> Adiconar Carga</span></h4>
            </div>            
            <div class="col savea " align=right>
                <input type="submit" class="btn btn-primary btn-sm " name='save' value="Salvar" />
                <a class="btn btn-warning btn-sm botoestop2" href="{% url 'cargas' %}">Voltar</a>
            </div>
        </div>
        <div class="row">
            <div class="d-flex container botoestop justify-content-start">
                <h5>
                    <span class="badge badge-warning p-1 m-1" id="fornecedorinfo"></span>                        
                    &nbsp;&nbsp; <span class="badge badge-success p-1 m-1" id="clienteinfo"></span>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="d-flex container botoestop justify-content-start">
                <h5>
                     <span class="badge badge-white bg-dark p-1 m-1" id="cidadeinfo"></span>
                </h5>
            </div>
        </div>
    </div>
    

    
    <div class="container d-flex flex-column justify-content-center  col-lg-8 col-md-12 col-sm-12 col-12 formulario">

        <div class="form-row flex-row justify-content-around caixacheck">

            <div class="col-lg-2 col-md-3 col-sm-4 col-4 form-group" data-toggle="tooltip" title="Ordem Enviada?"
                data-placement="bottom">
                {{ form.ordem|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-4 form-group" data-toggle="tooltip" title="CPF?"
                data-placement="bottom">
                {{ form.tac|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-4 form-group" data-toggle="tooltip" title="Chegou?"
                data-placement="bottom">
                {{ form.chegada|as_crispy_field }}
            </div>
        </div>





        <div class="form-row form-control-is-valid flex-row justify-content-center">

            <div class="col   form-group" data-toggle="tooltip" title="Pedido" data-placement="bottom">
                {{ form.pedido|as_crispy_field }}
            </div>
            <div class="col   form-group" data-toggle="tooltip" title="Data" data-placement="bottom">
                {{ form.data|as_crispy_field }}
            </div>
            <div class="col   form-group" data-toggle="tooltip" title="Situação" data-placement="bottom">
                {{ form.situacao|as_crispy_field }}
            </div>
        </div>
        <div class="form-row flex-row justify-content-center">

            <div class="col  form-group" data-toggle="tooltip" title="Transportadora" data-placement="bottom">
                {{ form.transp|as_crispy_field }}
            </div>
            <div class="col  form-group" data-toggle="tooltip" title="Veículo" data-placement="bottom">
                {{ form.veiculo|as_crispy_field }}
            </div>
            <div class="col form-group" data-toggle="tooltip" title="Buonny" data-placement="bottom">
                {{ form.buonny|as_crispy_field }}
            </div>
        </div>

        <div class="form-row flex-row mt-3 justify-content-center">
            <div class="col form-group" data-toggle="tooltip" title="Placa" data-placement="bottom">
                {{ form.placa|as_crispy_field }}
            </div>
            <div class="col form-group" data-toggle="tooltip" title="Motorista" data-placement="bottom">
                {{ form.motorista|as_crispy_field }}
            </div>
            <div class="col form-group" data-toggle="tooltip" title="Valor frete" data-placement="bottom">
                {{ form.valor_mot|as_crispy_field }}
            </div>
        </div>
        
        <div class="form-row flex-row justify-content-start">          
            <div class="col-4 form-group" data-toggle="tooltip" title="Agendamento" data-placement="bottom">
                {{ form.data_agenda|as_crispy_field }}
            </div>
        </div>
        <div class="form-row flex-row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12  offset-sm form-group caixaobs" data-toggle="tooltip"
                title="Observações" data-placement="top">
                {{ form.obs|as_crispy_field }}
            </div>
        </div>
    </div>



    {% buttons %}
    <div class="container botoes">
        <div class="d-flex flex-row justify-content-center align-content-center">
            <input type="submit" class="btn btn-primary btn-sm" name='save' value="Salvar" data-toggle="tooltip"
                title="Salvar" data-placement="top" />
            <input type="submit" class="btn btn-success btn-sm" name="save_and_continue" value="Salvar e Continuar"
                data-toggle="tooltip" title="Salvar e Continuar" data-placement="top" />
            <button type="button" class="btn btn-outline-warning btn-sm">
                <a href="{% url 'cargas' %}" data-toggle="tooltip" title="Cancelar" data-placement="top">Cancelar</a>
            </button>
        </div>
    </div>



    {% endbuttons %}
</form>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).ready(function () {
        $('#id_data').mask('00/00/0000');
    })

    $(document).ready(function () {
        $('#id_data_agenda').mask('00/00/0000');
    })

    

    document.querySelector("label[for=id_data_agenda]").innerHTML = "Data Descarga";


    $('#id_pedido').on('change', function() {
        var idcontrato = ($(this).val()) 
       
        var contratos = { {% for p in pedidos %}  {{ p.id}}:  { contrato: "{{p.contrato}}" ,fornecedor: "{{ p.fornecedor.nome}}", cidadef: "{{p.fornecedor.cidade}}", cliente: "{{ p.cliente.nome_fantasia}}"}, {% endfor %} }
        
        // alert(idcontrato);                      
        console.log(idcontrato)

        for (i in contratos) {
            if (i === idcontrato) {
            var pedido = contratos[idcontrato]['contrato'] 
            var fornecedor = contratos[idcontrato]['fornecedor'] 
            var cidade = contratos[idcontrato]['cidadef'] 
            var cliente = contratos[idcontrato]['cliente']                       
            console.log(pedido)
            console.log(fornecedor)           
            console.log(cidade)           
            console.log(cliente)           
            console.log(" ")
                if (pedido === '900') {
                    var elementfornecedor = document.getElementById("fornecedorinfo");
                    elementfornecedor.innerHTML = "Escritório";            
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = cidade;                                          
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = cliente;            
                    } else if (pedido === '901') {            
                    var elementfornecedor = document.getElementById("fornecedorinfo");
                    elementfornecedor.innerHTML = "Escritório";  
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = cidade;                                          
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = cliente;                                                 
                    } else {
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = cidade;                                          
                    var elementcliente = document.getElementById("fornecedorinfo");
                    elementcliente.innerHTML = fornecedor;            
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = cliente;            
                    }                                      
                } else if (idcontrato === "") {                    
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = "";                                          
                    var elementcliente = document.getElementById("fornecedorinfo");
                    elementcliente.innerHTML = "";            
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = "";       
                } 
            }                             
    });

    var data_carre = document.getElementById('id_data');
    var data_agenda = document.getElementById('id_data_agenda');
    
    
    data_carre.addEventListener('change', function() { 
        var dicionarioDeDIas = {}
        var dicionarioDeDIasFormatado = {}
        {% for c in clientes %}
        {% if 'Rus' in c.nome %}
        {% for cc in c.previsao_dias_da_semana|slice:"1:" %}
        {% for val,cha in cc.items %}
        dicionarioDeDIas["{{val}}"]="{{cha}}";
        {% endfor %}
        {% endfor %}
        {% endif %}
        {% endfor %}        
        for (const [key, value] of Object.entries(dicionarioDeDIas)) { 
            var dataString = key.split("/");          
            var ndsdata = new Date(dataString[2], dataString[1]-1, dataString[0]);
            
            dicionarioDeDIasFormatado[ndsdata] = [value]
            };            
        var clienteinfonome = document.getElementById('clienteinfo').innerHTML;        
        if ((clienteinfonome.includes('Ruston'))) {
            var dataString = data_carre.value.split("/");          
            var data = new Date(dataString[2], dataString[1]-1, dataString[0]);
            
            Date.prototype.addDays = function(days) {
                var date = new Date(this.valueOf());
                date.setDate(date.getDate() + days);
                return date;
            }
            var date = new Date(data);  
            console.log(`Data Carregamento: ${date.getDay()}`)      
            var dateplustow = date.addDays(2)
            var dateplussextacomvaga = date.addDays(3)
            var totalagendadodiacomvaga = dicionarioDeDIasFormatado[dateplussextacomvaga]                        
            var totalagendadodiacomvagasabado = dicionarioDeDIasFormatado[dateplustow]                        
            console.log(`Sexta-Segunda ${dateplussextacomvaga}`)
            var dateplustwoday = dateplustow.getDay()                                
            console.log(`dia da semana descarga ${dateplustwoday}`)
            if ((date.getDay() == 6 && totalagendadodiacomvagasabado < 8 )) {
                var dateplustow_final = dateplustow
                console.log('Ainda tem vaga segunda feira')
            } else if  ((date.getDay() == 5 && totalagendadodiacomvaga < 8 )) {
                var dateplustow_final = dateplustow.addDays(1)
                console.log('Ainda tem vaga segunda feira')
            } else if  ((date.getDay() == 5)) {
                var dateplustow_final = dateplustow.addDays(2)                
            } else if ((dateplustwoday == 6)) {
                var dateplustow_final = dateplustow.addDays(2)
            } else if ((dateplustwoday == 5)) {
                var dateplustow_final = dateplustow.addDays(0)
            } else if ((dateplustwoday == 4)) {
                var dateplustow_final = dateplustow.addDays(0)
            } else if ((dateplustwoday == 0)) {
                var dateplustow_final = dateplustow.addDays(2)
            } else {
                var dateplustow_final = dateplustow
            }     
            
            var checktotalagend = dicionarioDeDIasFormatado[dateplustow_final]
            var diadasemanaescolhido = dateplustow_final.getDay()
            while (checktotalagend >= 8 || diadasemanaescolhido == 6 || diadasemanaescolhido == 0) {
                dateplustow_final = dateplustow_final.addDays(1);
                var checktotalagend = dicionarioDeDIasFormatado[dateplustow_final]
                var diadasemanaescolhido = dateplustow_final.getDay()
            }

            var dd = dateplustow_final.getDate()
            var mm = dateplustow_final.getMonth()+1;
            if(dd<10) 
            {
                dd='0'+dd;
            } 
            if(mm<10) {
                mm='0'+mm;
            } 
            var yy = dateplustow_final.getFullYear();
            age_date_final = dd+'/'+mm+'/'+yy;     
            console.log(`data final: ${age_date_final}`)       
            var numerodiasadd = 3
            if (data_carre.value.length < 4 ) {
                data_agenda.value = data_carre.value;                
            } else {        
            data_agenda.value = age_date_final;        
            }
        } else {
            var dataString = data_carre.value.split("/");          
            var data = new Date(dataString[2], dataString[1]-1, dataString[0]);
            
            Date.prototype.addDays = function(days) {
                var date = new Date(this.valueOf());
                date.setDate(date.getDate() + days);
                return date;
            }
            var date = new Date(data);        
            var dateplustow = date.addDays(7)
            var dateplustwoday = dateplustow.getDay()                                
            console.log(dateplustwoday)
            if ((dateplustwoday == 6)) {
                var dateplustow_final = dateplustow.addDays(2)
            } else if ((dateplustwoday == 1)) {
                var dateplustow_final = dateplustow.addDays(0)
            } else if ((dateplustwoday == 2)) {
                var dateplustow_final = dateplustow.addDays(0)
            } else if ((dateplustwoday == 0)) {
                var dateplustow_final = dateplustow.addDays(2)
            } else {
                var dateplustow_final = dateplustow
            }        
            var dd = dateplustow_final.getDate()
            var mm = dateplustow_final.getMonth()+1;
            if(dd<10) 
            {
                dd='0'+dd;
            } 
            if(mm<10) {
                mm='0'+mm;
            } 
            var yy = dateplustow_final.getFullYear();
            age_date_final = dd+'/'+mm+'/'+yy;
            if (data_carre.value.length < 4 ) {
                data_agenda.value = data_carre.value;                
            } else {        
            data_agenda.value = age_date_final;  
            return age_date_final      
            }        
        }
    });
    

    
</script>
{% endblock %}
