{% extends 'basecorretora.html' %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}



<form method="POST" novalidate class="needs-validation">
    {% csrf_token %}
    <div class="row align-items-center">
        <div class="col">
            <div class="row">
                <div class="container">
                    <h4><span
                            class="badge badge-dark">{{ carga.placa|upper|slice:":3"}}-{{ carga.placa|upper|slice:"3:"}}
                            -
                            {{carga.motorista|title}}</span>
                </div>
                <div class="container-fluid">
                    <span class="badge badge-success">{{carga.pedido.fornecedor.nome}}</span>
                    &nbsp;&nbsp;<span class="badge badge-success">{{carga.pedido.cliente.nome_fantasia}}</span>
                </div>
            </div>
            </h4>
        </div>
        <div class="col" align=right>
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            <a class="btn btn-warning btn-sm" href="javascript:history.back()">Voltar</a>
        </div>
    </div>
    <br />
    <hr>
    <div class="container">
        <div class="form-row">
            <div class="col-lg-1 col-sm-2 form-group">
                {{ form.chegada|as_crispy_field }}
            </div>
        </div>


        {% buttons %}

        <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        <button type="button" class="btn btn-outline-warning btn-sm">
            <a href="{% url 'cargas' %}">Cancelar</a>
        </button>



        {% endbuttons %}
</form>
<script>

</script>
{% endblock %}