{% extends 'basecorretora.html' %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}


<style>
    #id_obs {
        height: 100px;
    }

    .classificacao {
        font-style: oblique;
        margin-bottom: 0px;
        text-decoration: underline;
        margin-top: 20px;
        align-self: center;
    }

    .mercadoria {
        margin-bottom: 20px;
        align-self: center;
        margin-top: 15px;
    }

    input[type=text],
    input[type=number],
    div select {
        height: 32px !important;
        font-size: 15px !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    .savea {
        margin-right: 10px;
    }

    @media (min-width:980px) {
        .botoestop {
            margin-left: 0%;
        }
    }

    @media (min-width:980px) {
        .botoestop2 {
            margin-right: 34%;
        }
    }

    .formulario {

        border-radius: 4px;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .classificacaocont div {
        margin-bottom: 20px;
    }

    .formulario {
        border: 0.2px solid #ccc;
        padding: 20px;
        padding-bottom: 0px;
    }

    .botoestop {
       float: left;
    }
    
    .continfo {
       padding-left: 0px !important;
    }

</style>

<form method="POST" novalidate class="needs-validation">
    {% csrf_token %}
    <div class="container-fluid col-10 justify-content-around">
        <div class="row align-items-center">
            <div class="col justify-content-start">
                <h4><span class="badge badge-success botoestop"> Adiconar Carga</span></h4>
            </div>
            <div class="col sevea" align=right>
                <input type="submit" class="btn btn-primary btn-sm" name='save' value="Salvar" />
                <a class="btn btn-warning btn-sm botoestop2" href="{% url 'cargas' %}">Voltar</a>
            </div>
        </div>
        <div class="row continfo">
            <div class="d-flex container botoestop justify-content-start">
                <h5>
                    <span class="badge badge-warning p-1 m-1" id="fornecedorinfo"></span>                        
                    &nbsp;&nbsp; <span class="badge badge-success p-1 m-1" id="clienteinfo"></span>
                </h5>
            </div>
        </div>
        <div class="row ">
            <div class="d-flex container botoestop justify-content-start">
                <h5>
                    <span class="badge badge-white bg-dark p-1 m-1" id="cidadeinfo"></span>
                </h5>
            </div>
        </div>
    </div>

    <br />
    <div class="container d-flex flex-column justify-content-center  col-lg-10 col-md-12 col-sm-12 col-12 formulario">
        <div class="d-flex flex-column justify-content-around" style="margin: 10px;">
            <div class="d-flex flex-row justify-content-start form-row" style="margin-bottom: 20px;">
                <div class="col-lg-2 col-md-3 col-sm-5 col-6 form-group" data-toggle="tooltip" title="Ordem Enviada?"
                    data-placement="bottom">
                    {{ form.ordem|as_crispy_field }}
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5 col-6 form-group" data-toggle="tooltip" title="CPF?"
                    data-placement="bottom">
                    {{ form.tac|as_crispy_field }}
                </div>
            </div>




            <div class=" d-flex flex-row justify-content-between form-row form-control-is-valid">
                <div class="col-lg-3 col-sm-4 col-6   form-group" data-toggle="tooltip" title="Pedido"
                    data-placement="bottom">
                    {{ form.pedido|as_crispy_field }}
                </div>
                <div class="col-lg-3 col-sm-4 col-6   form-group" data-toggle="tooltip" title="Data"
                    data-placement="bottom">
                    {{ form.data|as_crispy_field }}
                </div>
                <div class="col-lg-3 col-sm-4 col-4   form-group" data-toggle="tooltip" title="Situação"
                    data-placement="bottom">
                    {{ form.situacao|as_crispy_field }}
                </div>
                <div class="col-lg-3 col-sm-6 col-4  form-group" data-toggle="tooltip" title="Transportadora"
                    data-placement="bottom">
                    {{ form.transp|as_crispy_field }}
                </div>
                <div class="col-lg-2 col-sm-6 col-4  form-group" data-toggle="tooltip" title="Veículo"
                    data-placement="bottom">
                    {{ form.veiculo|as_crispy_field }}
                </div>



                <div class="col-lg-2 col-sm-6 col-6  form-group" data-toggle="tooltip" title="Buonny"
                    data-placement="bottom">
                    {{ form.buonny|as_crispy_field }}
                </div>

                <div class="col-lg-2 col-sm-6 col-md-6 col-6  form-group" data-toggle="tooltip" title="Valor frete"
                    data-placement="bottom">
                    {{ form.valor_mot|as_crispy_field }}
                </div>


                <div class="col-lg-2 col-sm-4 col-md-4 col-6  form-group" data-toggle="tooltip" title="Placa"
                    data-placement="bottom">
                    {{ form.placa|as_crispy_field }}
                </div>
                <div class="col-lg-4 col-sm-8 col-md-8  col-6 form-group" data-toggle="tooltip" title="Motorista"
                    data-placement="bottom">
                    {{ form.motorista|as_crispy_field }}
                </div>


            </div>

            <h4 class="mercadoria"><span class="badge badge-info">Produto</span></h4>
            <div class="container d-flex flex-column  justify-content-center col-lg-10">
                <div class="d-flex flex-row justify-content-around form-row notas">
                    <div class="col-sm-6 col-6 col-md-3 col-lg-3   form-group " data-toggle="tooltip"
                        title="Nota Fiscal" data-placement="bottom">
                        {{ form.notafiscal|as_crispy_field }}
                    </div>
                    <div class="col-sm-6 col-6 col-md-3 col-lg-3   form-group" data-toggle="tooltip" title="Peso"
                        data-placement="bottom">
                        {{ form.peso|as_crispy_field }}
                    </div>
                    <div class="col-sm-6 col-6 col-md-3 col-lg-3   form-group " data-toggle="tooltip" title="Valor NF"
                        data-placement="bottom">
                        {{ form.valornf|as_crispy_field }}
                    </div>
                    <div class="col-sm-6 col-6 col-md-3 col-lg-3   form-group " data-toggle="tooltip"
                        title="Nota Fiscal 2" data-placement="bottom">
                        {{ form.notafiscal2|as_crispy_field }}
                    </div>
                </div>
            </div>

            <h4 class="classificacao"><span class="badge badge-info">Classificação</span></h4>
            <br>
            <div class="container d-flex flex-column  justify-content-center col-lg-10">
                <div class="d-flex flex-row justify-content-around form-row ">
                    <div class="col  form-group" data-toggle="tooltip" title="Renda" data-placement="bottom">
                        {{ form.renda|as_crispy_field }}

                    </div>
                    <div class="col  form-group" data-toggle="tooltip" title="Inteiro" data-placement="bottom">
                        {{ form.inteiro|as_crispy_field }}

                    </div>
                    <div class="col  form-group" data-toggle="tooltip" title="Impureza" data-placement="bottom">
                        {{ form.impureza|as_crispy_field }}
                    </div>
                    <div class="col  form-group" data-toggle="tooltip" title="Umidade" data-placement="bottom">
                        {{ form.umidade|as_crispy_field }}

                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between form-row classificacaocont">
                    <div class="col form-group" data-toggle="tooltip" title="Gessado" data-placement="bottom">
                        {{ form.gessado|as_crispy_field }}

                    </div>
                    <div class="col form-group" data-toggle="tooltip" title="B.Branca" data-placement="bottom">
                        {{ form.bbranca|as_crispy_field }}

                    </div>
                    <div class="col form-group" data-toggle="tooltip" title="Amarelo" data-placement="bottom">
                        {{ form.amarelo|as_crispy_field }}

                    </div>
                    <div class="col form-group" data-toggle="tooltip" title="Mach/Pic" data-placement="bottom">
                        {{ form.manchpic|as_crispy_field }}

                    </div>
                    <div class="col form-group" data-toggle="tooltip" title="Vermelhos" data-placement="bottom">
                        {{ form.vermelhos|as_crispy_field }}
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center form-row">
                <div class="col-12 offset-sm form-group" data-toggle="tooltip" title="Observações" data-placement="top">
                    {{ form.obs|as_crispy_field }}</div>
            </div>
        </div>
    </div>
    {% buttons %}
    <div class="container botoes">
        <div class="d-flex flex-row justify-content-center align-content-center">
            <input type="submit" class="btn btn-primary btn-sm" name='save' value="Salvar" data-toggle="tooltip"
                title="Salvar" data-placement="top" />
            <input type="submit" class="btn btn-success btn-sm" name="save_and_continue" value="Salvar e Continuar"
                data-toggle="tooltip" title="Salvar e Continuar" data-placement="top" />
            <button type="button" class="btn btn-outline-warning btn-sm">
                <a href="{% url 'cargas' %}" data-toggle="tooltip" title="Cancelar" data-placement="top">Cancelar</a>
            </button>
        </div>
    </div>



    {% endbuttons %}



</form>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).ready(function () {
        $('#id_data').mask('00/00/0000');
    })

    $('#id_pedido').on('change', function() {
        var idcontrato = ($(this).val()) 
       
        var contratos = { {% for p in pedidos %}  {{ p.id}}:  { contrato: "{{p.contrato}}" ,fornecedor: "{{ p.fornecedor.nome}}", cidadef: "{{p.fornecedor.cidade}}", cliente: "{{ p.cliente.nome_fantasia}}"}, {% endfor %} }
        
        // alert(idcontrato);                      
        console.log(idcontrato)

        for (i in contratos) {
            if (i === idcontrato) {
            var pedido = contratos[idcontrato]['contrato'] 
            var fornecedor = contratos[idcontrato]['fornecedor'] 
            var cidade = contratos[idcontrato]['cidadef'] 
            var cliente = contratos[idcontrato]['cliente']                       
            console.log(pedido)
            console.log(fornecedor)           
            console.log(cidade)           
            console.log(cliente)           
            console.log(" ")
                if (pedido === '900') {
                    var elementfornecedor = document.getElementById("fornecedorinfo");
                    elementfornecedor.innerHTML = "Escritório";            
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = cidade;                                          
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = cliente;            
                    } else if (pedido === '901') {            
                    var elementfornecedor = document.getElementById("fornecedorinfo");
                    elementfornecedor.innerHTML = "Escritório";  
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = cidade;                                          
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = cliente;                                                 
                    } else {
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = cidade;                                          
                    var elementcliente = document.getElementById("fornecedorinfo");
                    elementcliente.innerHTML = fornecedor;            
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = cliente;            
                    }                                      
                } else if (idcontrato === "") {                    
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = "";                                          
                    var elementcliente = document.getElementById("fornecedorinfo");
                    elementcliente.innerHTML = "";            
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = "";       
                } 
            }                             
    });
    
</script>
{% endblock %}
