{% extends 'basecorretora.html' %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}

<style>
    #id_obs {
        height: 150px;
    }

    .classificacao {
        font-style: oblique;
        margin-bottom: 30px;
        text-decoration: underline;
        margin-top: 20px;
        align-self: center;
    }

    .produto {
        margin-bottom: 30px;
        align-self: center;
        margin-top: 0px;
    }

    input[type=text],
    input[type=number],
    div select {
        height: 34px !important;
        font-size: 15px !important;

    }

    @media (min-width:980px) {
        .botoestop {
            margin-left: 24%;
        }
    }

    @media (min-width:980px) {
        .botoestop2 {
            margin-right: 26%;
        }
    }

    .formulario {
        border: 0.2px solid #ccc;
        padding: 20px;
        padding-bottom: 0px;
    }

    .botoestop {
        padding-left: 0px;
    }

    .caixaquadrada {
        margin-left: 7%;
        padding-right: 0px;
    }

    #id_data_agenda { 
        background-color: rgba(226, 106, 106, 0.2); 
        color: whitesmoke;
        text-align: center;
    }

</style>
</div>
<form method="POST" novalidate class="needs-validation">
    {% csrf_token %}
    <div class="container">
        <div class="d-flex  flex-column col-11 caixaquadrada">
            <div class="d-flex ">
                <h4>
                    <span>
                    <b class="badge badge-primary"> Pedido: {{ carga.pedido }}</b>&nbsp;&nbsp;
                    <b class="badge badge-dark">{{ carga.placa|upper|slice:":3"}} {{ carga.placa|upper|slice:"3:"}} {{carga.motorista|title}}</b>
                    </span>
                </h4>
                <div class="col" align=right style="padding-right: 0px">
                    <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                    <a class="btn btn-warning btn-sm botoestop2" href="javascript:history.back()">Voltar</a>
                </div>        
            </div>
                
            <div class="d-flex justify-content-start">
                <span>
                    <h5>
                        <a class="badge badge-warning" id="fornecedorinfo">{{carga.pedido.fornecedor.nome}}</a>&nbsp;&nbsp;
                        <a class="badge badge-success" id="clienteinfo">{{carga.pedido.cliente.nome_fantasia}}</a>
                    </h5>
                </span>
            </div>
            <div class="d-flex justify-content-start">
                <span>
                    <h6>
                        <a class="badge badge-white bg-dark" id="cidadeinfo">{{carga.pedido.fornecedor.cidade}}</a>
                    </h6>
                </span>
            </div>                
        </div>
        

        


        <br />
        <div class="container d-flex flex-column justify-content-center  col-lg-10 col-md-12 col-sm-12 col-12 formulario">
            <div class="d-flex flex-row justify-content-start form-row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-4 form-group" data-toggle="tooltip" title="Ordem Enviada?"
                    data-placement="bottom">
                    {{ form.ordem|as_crispy_field }}
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4 form-group" data-toggle="tooltip" title="CPF?"
                    data-placement="bottom">
                    {{ form.tac|as_crispy_field }}
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4 form-group" data-toggle="tooltip" title="Chegou?"
                    data-placement="bottom">
                    {{ form.chegada|as_crispy_field }}
                </div>
            </div>



            <div class="d-flex flex-row justify-content-around form-row">
                <div class="col-lg-2 col-sm-4 col-6 form-group" data-toggle="tooltip" title="Pedido"
                    data-placement="bottom">
                    {{ form.pedido|as_crispy_field }}
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6  form-group" data-toggle="tooltip" title="Data"
                    data-placement="bottom">

                    {{ form.data|as_crispy_field }}
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-4  form-group" data-toggle="tooltip" title="Situação"
                    data-placement="bottom">
                    {{ form.situacao|as_crispy_field }}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-4 form-group" data-toggle="tooltip" title="Transportadora"
                    data-placement="bottom">
                    {{ form.transp|as_crispy_field }}
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-4 form-group" data-toggle="tooltip" title="Veículo"
                    data-placement="bottom">
                    {{ form.veiculo|as_crispy_field }}
                </div>
            </div>
            <h4 class="produto"><span class="badge badge-info">Dados Motorista</span></h4>
            <div class="d-flex flex-row justify-content-center form-row">
                <div class="col-lg-2 col-sm-4 order-sm-3 order-lg-0 order-md-0  order-3  col-md-4 col-4 form-group"
                    data-toggle="tooltip" title="Buonny" data-placement="bottom">
                    {{ form.buonny|as_crispy_field }}
                </div>

                <div class="col-lg-2 col-sm-5 col-md-3 col-5 form-group" data-toggle="tooltip" title="Placa"
                    data-placement="bottom">
                    {{ form.placa|as_crispy_field }}
                </div>
                <div class="col-lg-4 col-sm-7 col-md-5 col-7 form-group" data-toggle="tooltip" title="Motorista"
                    data-placement="bottom">
                    {{ form.motorista|as_crispy_field }}
                </div>

                <div class="col-lg-2 col-sm-4 col-md-4 col-4 form-group" data-toggle="tooltip" title="Valor frete"
                    data-placement="bottom">
                    {{ form.valor_mot|as_crispy_field }}
                </div>

                <div class="col-lg-2 col-sm-4 col-md-4 col-4  form-group" data-toggle="tooltip" title="Peso"
                    data-placement="bottom">
                    {{ form.peso|as_crispy_field }}
                </div>
            </div>


            <h4 class="produto"><span class="badge badge-info">Produto</span></h4>
            <div class="container d-flex flex-column  justify-content-center col-lg-9 ">
                <div class="d-flex flex-row justify-content-between form-row">
                    <div class="col  form-group" data-toggle="tooltip" title="Nota Fiscal" data-placement="bottom">
                        {{ form.notafiscal|as_crispy_field }}
                    </div>
                    <div class="col  form-group" data-toggle="tooltip" title="Valor NF" data-placement="bottom">
                        {{ form.valornf|as_crispy_field }}
                    </div>
                    <div class="col  form-group" data-toggle="tooltip" title="Nota Fiscal 2" data-placement="bottom">
                        {{ form.notafiscal2|as_crispy_field }}
                    </div>
                </div>
            </div>
            
            <h4 class="produto mb-3 mt-4"><span class="badge badge-warning">Agendamento</span></h4>
            <div class="container d-flex flex-column  justify-content-center col-sm-4 col-xs-6 col-md-3 col-lg-3 col-6  text-left">
                <div class="d-flex flex-row justify-content-between form-row text-center">
                    <div class="col text-center  form-group" data-toggle="tooltip" title="Agendamento" data-placement="bottom">
                        {{ form.data_agenda|as_crispy_field }}
                    </div>                   
                </div>
            </div>
            

            {% if carga.pedido.produto == "Arroz em Casca" %}
            <h4 class="classificacao"><span class="badge badge-info">Classificação</span></h4>
            <div class="container d-flex flex-column  justify-content-center col-lg-9 ">
                <div class="d-flex flex-row justify-content-between form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3   form-group" data-toggle="tooltip" title="Renda"
                        data-placement="bottom">
                        {{ form.renda|as_crispy_field }}

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3   form-group" data-toggle="tooltip" title="Inteiro"
                        data-placement="bottom">
                        {{ form.inteiro|as_crispy_field }}

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3   form-group" data-toggle="tooltip" title="Impureza"
                        data-placement="bottom">
                        {{ form.impureza|as_crispy_field }}

                    </div>


                    <div class="col-lg-3 col-md-3 col-sm-3 col-3   form-group" data-toggle="tooltip" title="Umidade"
                        data-placement="bottom">
                        {{ form.umidade|as_crispy_field }}

                    </div>
                </div>

                <div class="d-flex flex-row justify-content-between form-row">
                    <div class="col  form-group" data-toggle="tooltip" title="Gessado" data-placement="bottom">
                        {{ form.gessado|as_crispy_field }}

                    </div>
                    <div class="col  form-group" data-toggle="tooltip" title="B.Branca" data-placement="bottom">
                        {{ form.bbranca|as_crispy_field }}

                    </div>
                    <div class="col  form-group" data-toggle="tooltip" title="Amarelo" data-placement="bottom">
                        {{ form.amarelo|as_crispy_field }}

                    </div>
                    <div class="col  form-group" data-toggle="tooltip" title="Mach/Pic" data-placement="bottom">
                        {{ form.manchpic|as_crispy_field }}

                    </div>
                    <div class="col  form-group" data-toggle="tooltip" title="Vermelhos" data-placement="bottom">
                        {{ form.vermelhos|as_crispy_field }}
                    </div>
                </div>
            </div>

            {% else %}
            {% endif %}

            <div class="d-flex flex-row justify-content-center form-row">
                <div class="col-12 form-group" data-toggle="tooltip" title="Observações" data-placement="bottom">
                    {{ form.obs|as_crispy_field }}</div>
            </div>
        </div>


        {% buttons %}

        <div class="conatiner botoes">
            <div class="d-flex flex-row justify-content-center align-content-center">
                <button type="submit" data-toggle="tooltip" title="Salvar" class="btn btn-primary btn-sm">Salvar</button>
                <button type="button" data-toggle="tooltip" title="Cancelar" class="btn btn-outline-warning btn-sm">
                    <a href="{% url 'cargas' %}">Cancelar</a>
                </button>
            </div>
        </div>

    </div>

    {% endbuttons %}
</form>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).ready(function () {
        $('#id_data').mask('00/00/0000');
    })

    $(document).ready(function () {
        $('#id_data_agenda').mask('00/00/0000');
    })


    $('#id_pedido').on('change', function() {
        var idcontrato = ($(this).val()) 
       
        var contratos = { {% for p in pedidos %}  {{ p.id}}:  { contrato: "{{p.contrato}}" ,fornecedor: "{{ p.fornecedor.nome}}", cidadef: "{{p.fornecedor.cidade}}", cliente: "{{ p.cliente.nome_fantasia}}"}, {% endfor %} }
        
        // alert(idcontrato);                      
        console.log(idcontrato)

        for (i in contratos) {
            if (i === idcontrato) {
            var pedido = contratos[idcontrato]['contrato'] 
            var fornecedor = contratos[idcontrato]['fornecedor'] 
            var cidade = contratos[idcontrato]['cidadef'] 
            var cliente = contratos[idcontrato]['cliente']                       
            console.log(pedido)
            console.log(fornecedor)           
            console.log(cidade)           
            console.log(cliente)           
            console.log(" ")
                if (pedido === '900') {
                    var elementfornecedor = document.getElementById("fornecedorinfo");
                    elementfornecedor.innerHTML = "Escritório";            
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = cidade;                                          
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = cliente;            
                    } else if (pedido === '901') {            
                    var elementfornecedor = document.getElementById("fornecedorinfo");
                    elementfornecedor.innerHTML = "Escritório";  
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = cidade;                                          
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = cliente;                                                 
                    } else {
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = cidade;                                          
                    var elementcliente = document.getElementById("fornecedorinfo");
                    elementcliente.innerHTML = fornecedor;            
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = cliente;            
                    }                                      
                } else if (idcontrato === "") {                    
                    var elementcidade = document.getElementById("cidadeinfo");
                    elementcidade.innerHTML = "";                                          
                    var elementcliente = document.getElementById("fornecedorinfo");
                    elementcliente.innerHTML = "";            
                    var elementcliente = document.getElementById("clienteinfo");
                    elementcliente.innerHTML = "";       
                } 
            }                             
    });

    var data_carre = document.getElementById('id_data');
    var data_agenda = document.getElementById('id_data_agenda');
    
    
    data_carre.addEventListener('change', function() { 
        var dicionarioDeDIas = {}
        var dicionarioDeDIasFormatado = {}
        {% for c in clientes %}
        {% if 'Rus' in c.nome %}
        {% for cc in c.previsao_dias_da_semana|slice:"1:" %}
        {% for val,cha in cc.items %}
        dicionarioDeDIas["{{val}}"]="{{cha}}";
        {% endfor %}
        {% endfor %}
        {% endif %}
        {% endfor %}        
        for (const [key, value] of Object.entries(dicionarioDeDIas)) { 
            var dataString = key.split("/");          
            var ndsdata = new Date(dataString[2], dataString[1]-1, dataString[0]);
            
            dicionarioDeDIasFormatado[ndsdata] = [value]
            };            
        var clienteinfonome = document.getElementById('clienteinfo').innerHTML;        
        if ((clienteinfonome.includes('Ruston'))) {
            var dataString = data_carre.value.split("/");          
            var data = new Date(dataString[2], dataString[1]-1, dataString[0]);
            
            Date.prototype.addDays = function(days) {
                var date = new Date(this.valueOf());
                date.setDate(date.getDate() + days);
                return date;
            }
            var date = new Date(data);  
            console.log(`Data Carregamento: ${date.getDay()}`)      
            var dateplustow = date.addDays(2)
            var dateplustwoday = dateplustow.getDay()                                
            console.log(`dia da semana descarga ${dateplustwoday}`)
            if ((date.getDay() == 6)) {
                var dateplustow_final = date.addDays(3)
            } else if ((dateplustwoday == 6)) {
                var dateplustow_final = dateplustow.addDays(2)
            } else if ((dateplustwoday == 5)) {
                var dateplustow_final = dateplustow.addDays(0)
            } else if ((dateplustwoday == 4)) {
                var dateplustow_final = dateplustow.addDays(0)
            } else if ((dateplustwoday == 0)) {
                var dateplustow_final = dateplustow.addDays(2)
            } else {
                var dateplustow_final = dateplustow
            }     
            console.log(`Dia Final depois do loopfor primeiro ${dateplustow_final}`)
            var totalagendadodia = dicionarioDeDIasFormatado[dateplustow_final]                        
            if ((totalagendadodia >= 8)) {
                var dateplustow_final_final = dateplustow_final.addDays(1)
                console.log(dateplustow_final_final)
            } else {
                var dateplustow_final_final = dateplustow_final
                console.log(dateplustow_final_final)
            }  
            console.log(`Dia Final depois da Verificação ${dateplustow_final_final}`)
            console.log(`Dia Final depois da Verificação ${dateplustow_final_final.getDay()}`)
            
            var dateplustow_final_final_ok = dateplustow_final_final.getDay()                                
            console.log(dateplustow_final_final_ok)
            if ((dateplustow_final_final_ok == 6)) {
                var dateplustow_final_validada = dateplustow_final_final.addDays(2)
            } else if ((dateplustow_final_final_ok == 1)) {
                var dateplustow_final_validada = dateplustow_final_final.addDays(0)
            } else if ((dateplustow_final_final_ok == 5)) {
                var dateplustow_final_validada = dateplustow_final_final.addDays(3)
            } else if ((dateplustow_final_final_ok == 0)) {
                var dateplustow_final_validada = dateplustow_final_final.addDays(1)
            } else {
                var dateplustow_final_validada = dateplustow_final_final
            }     


            var dd = dateplustow_final_validada.getDate()
            var mm = dateplustow_final_validada.getMonth()+1;
            if(dd<10) 
            {
                dd='0'+dd;
            } 
            if(mm<10) {
                mm='0'+mm;
            } 
            var yy = dateplustow_final_validada.getFullYear();
            age_date_final = dd+'/'+mm+'/'+yy;     
            console.log(`data final: ${age_date_final}`)       
            var numerodiasadd = 3
            if (data_carre.value.length < 4 ) {
                data_agenda.value = data_carre.value;                
            } else {        
            data_agenda.value = age_date_final;        
            }
        } else {
            var dataString = data_carre.value.split("/");          
            var data = new Date(dataString[2], dataString[1]-1, dataString[0]);
            
            Date.prototype.addDays = function(days) {
                var date = new Date(this.valueOf());
                date.setDate(date.getDate() + days);
                return date;
            }
            var date = new Date(data);        
            var dateplustow = date.addDays(7)
            var dateplustwoday = dateplustow.getDay()                                
            console.log(dateplustwoday)
            if ((dateplustwoday == 6)) {
                var dateplustow_final = dateplustow.addDays(2)
            } else if ((dateplustwoday == 1)) {
                var dateplustow_final = dateplustow.addDays(0)
            } else if ((dateplustwoday == 2)) {
                var dateplustow_final = dateplustow.addDays(0)
            } else if ((dateplustwoday == 0)) {
                var dateplustow_final = dateplustow.addDays(2)
            } else {
                var dateplustow_final = dateplustow
            }        
            var dd = dateplustow_final.getDate()
            var mm = dateplustow_final.getMonth()+1;
            if(dd<10) 
            {
                dd='0'+dd;
            } 
            if(mm<10) {
                mm='0'+mm;
            } 
            var yy = dateplustow_final.getFullYear();
            age_date_final = dd+'/'+mm+'/'+yy;
            if (data_carre.value.length < 4 ) {
                data_agenda.value = data_carre.value;                
            } else {        
            data_agenda.value = age_date_final;  
            return age_date_final      
            }        
        }
    });
</script>
{% endblock %}
