{% extends 'basecorretora.html' %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}



<form method="POST" novalidate class="needs-validation">
    {% csrf_token %}
    <div class="row align-items-center">
        <div class="col">
            <div class="row">
                <div class="container">
                    <h4> <span class="badge badge-primary p-1 m-1"> Pedido: {{carga.pedido}}
                        </span>&nbsp;&nbsp;<span
                            class="badge badge-dark p-1 m-1">{{ carga.placa|upper|slice:":3"}}-{{ carga.placa|upper|slice:"3:"}}
                            -
                            {{carga.motorista|title}}</span>
                </div>
                <div class="container-fluid">
                    <h5><span class="badge badge-warning p-1 m-1">{{carga.pedido.fornecedor.nome}}</span>
                        &nbsp;&nbsp;<span
                            class="badge badge-warning p-1 m-1">{{carga.pedido.cliente.nome_fantasia}}</span></h5>
                </div>
            </div>
            </h4>
        </div>
        <div class="col" align=right>
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            <a class="btn btn-warning btn-sm" href="javascript:history.back()">Voltar</a>
        </div>
    </div>
    <br />
    <hr>
    <div class="container">
        <div class="form-row">
            <div class="col-lg-1 col-md-6 col-sm-2 col-4 form-group" data-toggle="tooltip" title="Ordem Enviada?" data-placement="bottom">
                {{ form.ordem|as_crispy_field }}
            </div>
            <div class="col-lg-1 col-md-6 col-sm-2 col-4 form-group" data-toggle="tooltip" title="CPF?" data-placement="bottom">
                {{ form.tac|as_crispy_field }}
            </div>
            <div class="col-lg-1 col-md-6 col-sm-2 col-4 form-group" data-toggle="tooltip" title="Chegou?" data-placement="bottom">
                {{ form.chegada|as_crispy_field }}
            </div>
        </div>




        <div class="form-row form-control-is-valid">
            <div class="col-lg-2 col-sm-4 col-6 form-group" data-toggle="tooltip" title="Pedido" data-placement="bottom">
                {{ form.pedido|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-sm-4 col-6  form-group" data-toggle="tooltip" title="Data" data-placement="bottom">

                {{ form.data|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-sm-4 col-4  form-group" data-toggle="tooltip" title="Situação" data-placement="bottom">
                {{ form.situacao|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-sm-4 col-4 form-group" data-toggle="tooltip" title="Transportadora" data-placement="bottom">
                {{ form.transp|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-sm-4 col-4 form-group" data-toggle="tooltip" title="Veículo" data-placement="bottom">
                {{ form.veiculo|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-sm-4 col-md-4 col-4 form-group" data-toggle="tooltip" title="Buonny" data-placement="bottom">
                {{ form.buonny|as_crispy_field }}
            </div>



            <div class="col-lg-2 col-sm-3 col-md-3 col-3 form-group" data-toggle="tooltip" title="Placa" data-placement="bottom">
                {{ form.placa|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-sm-5 col-md-5 col-5 form-group" data-toggle="tooltip" title="Motorista" data-placement="bottom">
                {{ form.motorista|as_crispy_field }}
            </div>



            <div class="col-lg-2 col-sm-4 col-md-4 col-6 form-group" data-toggle="tooltip" title="Valor frete" data-placement="bottom">
                {{ form.valor_mot|as_crispy_field }}
            </div>

            <div class="col-lg-2 col-sm-4 col-md-4 col-6  form-group" data-toggle="tooltip" title="Peso" data-placement="bottom">
                {{ form.peso|as_crispy_field }}
            </div>
        </div>


        <hr>
        <div class="form-row">
            <div class="col-lg-3 col-sm-4 col-md-4 col-4  form-group" data-toggle="tooltip" title="Nota Fiscal" data-placement="bottom">
                {{ form.notafiscal|as_crispy_field }}
            </div>
            <div class="col-lg-3 col-sm-4 col-md-4 col-4  form-group" data-toggle="tooltip" title="Nota Fiscal 2" data-placement="bottom">
                {{ form.notafiscal2|as_crispy_field }}
            </div>
            <div class="col-lg-3 col-sm-4 col-md-4 col-4  form-group" data-toggle="tooltip" title="Valor NF" data-placement="bottom">
                {{ form.valornf|as_crispy_field }}
            </div>
        </div>
        <hr>
        {% if carga.pedido.produto == "Arroz em Casca" %}
        <div class="form-row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-3   form-group" data-toggle="tooltip" title="Renda" data-placement="bottom">
                {{ form.renda|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3   form-group" data-toggle="tooltip" title="Inteiro" data-placement="bottom">
                {{ form.inteiro|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3   form-group" data-toggle="tooltip" title="Impureza" data-placement="bottom">
                {{ form.impureza|as_crispy_field }}

            </div>


            <div class="col-lg-2 col-md-3 col-sm-3 col-3   form-group" data-toggle="tooltip" title="Umidade" data-placement="bottom"> 
                {{ form.umidade|as_crispy_field }}

            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group" data-toggle="tooltip" title="Gessado" data-placement="bottom">
                {{ form.gessado|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group" data-toggle="tooltip" title="B.Branca" data-placement="bottom">
                {{ form.bbranca|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group" data-toggle="tooltip" title="Amarelo" data-placement="bottom">
                {{ form.amarelo|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group" data-toggle="tooltip" title="Mach/Pic" data-placement="bottom">
                {{ form.manchpic|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group" data-toggle="tooltip" title="Vermelhos" data-placement="bottom">
                {{ form.vermelhos|as_crispy_field }}
            </div>
        </div>
        <hr>
        {% else %}
        {% endif %}

        <div class="form-row">
            <div class="col-9  offset-sm form-group" data-toggle="tooltip" title="Observações" data-placement="bottom">{{ form.obs|as_crispy_field }}</div>
        </div>
    </div>


    {% buttons %}

    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Salvar" data-placement="top">Salvar</button>
    <button type="button" class="btn btn-outline-warning btn-sm">
        <a href="{% url 'cargas' %}" data-toggle="tooltip" title="Cancelar" data-placement="top">Cancelar</a>
    </button>



    {% endbuttons %}
</form>
<script>
    $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}