{% extends 'basecorretora.html' %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}


<style>
    #id_obs {
        height: 100px;


    }

    .classificacao {
        font-style: oblique;
        margin-bottom: 0px;
        text-decoration: underline;
        margin-top: 0px;
        align-self: center;
    }

    @media (min-width:980px) {
        .botoestop {
            margin-left: 32%;
        }
    }

    @media (min-width:980px) {
        .botoestop2 {
            margin-right: 27%;
        }
    }

    .formulario {
        margin-top: 10px;
        border: 0.2px solid #ccc;
        padding: 20px;
        padding-bottom: 20px;
        background-color: #363639;
        color: blanchedalmond;
    }

    input[type=text],
    input[type=number],
    div select {
        height: 32px !important;
        font-size: 15px !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    h4 {
        display:inline-block;
    }

    body {
        background-color: black;
    }
    


</style>

<form method="POST">
    
        
            <div class="d-flex justify-content-around col-11">
                
                    <div class="flex-column justify-content-start">
                        <div class="flex-row justify-content-start">
                            <div class="d-flex justify-content-start">
                            <h4> <span class="badge badge-primary p-1 m-1"> Pedido: {{carga.pedido}}
                                </span></h4>
                                <h4>&nbsp;&nbsp;<span
                                    class="badge badge-dark p-1 m-1">{{ carga.placa|upper|slice:":3"}}-{{ carga.placa|upper|slice:"3:"}}
                                    -
                                {{carga.motorista|title}}</span></h4>
                            </div>
                        </div>
                        <div class="flex-row align-content-start">
                            <div class="d-flex justify-content-start">
                                <h5> <span class="badge badge-warning p-1 m-1">{{carga.pedido.fornecedor.nome}}</span>
                                    &nbsp;&nbsp;<span
                                        class="badge badge-success p-1 m-1">{{carga.pedido.cliente.nome_fantasia}}</span></h5>
                            </div>
                        </div>   
                    </div>
                    <div class="flex-column justify-content-end">       
                            <div class="row">
                                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                            </div>                                     
                            <div class="row">
                                <a class="btn btn-warning btn-sm " href="javascript:history.back()">Voltar</a>
                            </div>
                    </div>
                </div>
        
    

    {% csrf_token %}
    <div
        class="container d-flex flex-column justify-content-center align-items-center col-lg-8 col-md-12 col-sm-12 col-12 formulario">
        <h4 class="classificacao" style="margin-bottom: 20px"><span class="badge badge-info">Classificação</span></h4>
        <div class="container d-flex flex-row justify-content-between form-row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3  form-group">
                {{ form.renda|as_crispy_field }}

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3  form-group">
                {{ form.inteiro|as_crispy_field }}

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3  form-group">
                {{ form.impureza|as_crispy_field }}

            </div>


            <div class="col-lg-3 col-md-3 col-sm-3 col-3  form-group">
                {{ form.umidade|as_crispy_field }}

            </div>
        </div>
        <div class="container d-flex flex-row justify-content-between form-row">
            <div class=" col form-group">
                {{ form.gessado|as_crispy_field }}

            </div>
            <div class=" col form-group">
                {{ form.bbranca|as_crispy_field }}

            </div>
            <div class=" col form-group">
                {{ form.amarelo|as_crispy_field }}

            </div>
            <div class=" col form-group">
                {{ form.manchpic|as_crispy_field }}

            </div>
            <div class=" col form-group">
                {{ form.vermelhos|as_crispy_field }}
            </div>
        </div>
        <br>

        <div class="container-fluid d-flex flex-row justify-content-center form-row">
            <div class="col">
                {{ form.obs|as_crispy_field }}
            </div>
        </div>


    </div>




    {% buttons %}
    <div class="container botoes">
        <div class="d-flex flex-row justify-content-center align-content-center">
            <input type="submit" class="btn btn-primary btn-sm" name='save' value="Salvar" data-toggle="tooltip"
                title="Salvar" data-placement="top" />

            <button type="button" class="btn btn-outline-warning btn-sm">
                <a href="{% url 'cargas' %}" data-toggle="tooltip" title="Cancelar" data-placement="top">Cancelar</a>
            </button>
        </div>
    </div>

    {% endbuttons %}
</form>
{% endblock %}
