{% extends 'basecorretora.html' %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}




<form method="POST">
    <div class="row align-items-center">
        <div class="col">
            <div class="row">
                <div class="container">
                    <h4> <span class="badge badge-primary"> Pedido: {{carga.pedido}}
                        </span>&nbsp;&nbsp;<span
                            class="badge badge-dark">{{ carga.placa|upper|slice:":3"}}-{{ carga.placa|upper|slice:"3:"}}
                            -
                            {{carga.motorista|title}}</span>
                </div>
                <div class="container-fluid">
                    <span class="badge badge-success">{{carga.pedido.fornecedor.nome}}</span>
                    &nbsp;&nbsp;<span class="badge badge-success">{{carga.pedido.cliente.nome_fantasia}}</span>
                </div>
            </div>
            </h4>
        </div>
        <div class="col" align=right>
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            <a class="btn btn-warning btn-sm" href="javascript:history.back()">Voltar</a>
        </div>
    </div>

    {% csrf_token %}
    <hr>
    <div class="form-row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group">
            {{ form.renda|as_crispy_field }}

        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group">
            {{ form.inteiro|as_crispy_field }}

        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group">
            {{ form.impureza|as_crispy_field }}

        </div>


        <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group">
            {{ form.umidade|as_crispy_field }}

        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group">
            {{ form.gessado|as_crispy_field }}

        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group">
            {{ form.bbranca|as_crispy_field }}

        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group">
            {{ form.amarelo|as_crispy_field }}

        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group">
            {{ form.manchpic|as_crispy_field }}

        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group">
            {{ form.vermelhos|as_crispy_field }}
        </div>
    </div>
    <hr>

    <div class="form-row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-8 offset-sm form-group">{{ form.obs|as_crispy_field }}</div>
    </div>
    {% buttons %}

    <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
    <button type="button" class="btn btn-outline-warning btn-sm">
        <a href="{% url 'cargas' %}">Cancelar</a>
    </button>



    {% endbuttons %}
</form>
{% endblock %}