{% extends 'basecorretora.html' %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}



<form method="POST" novalidate class="needs-validation">
    {% csrf_token %}
    <div class="row align-items-center">
        <div class="col">
            <div class="row">
                <div class="container">
                    <h4> <span class="badge badge-primary"> Pedido: {{carga.pedido}}
                        </span>&nbsp;&nbsp;<span
                            class="badge badge-dark">{{ carga.placa|upper|slice:":3"}}-{{ carga.placa|upper|slice:"3:"}}
                            -
                            {{carga.motorista|title}}</span>
                </div>
                <div class="container-fluid">
                    <span class="badge badge-success">{{carga.pedido.fornecedor.nome}}</span>
                    &nbsp;&nbsp;<span class="badge badge-success">{{carga.pedido.cliente.nome_fantasia}}</span>
                </div>
            </div>
            </h4>
        </div>
        <div class="col" align=right>
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            <a class="btn btn-warning btn-sm" href="javascript:history.back()">Voltar</a>
        </div>
    </div>
    <br />
    <hr>
    <div class="container">
        <div class="form-row">
            <div class="col-lg-1 col-md-6 col-sm-2 col-4 form-group">
                {{ form.ordem|as_crispy_field }}
            </div>
            <div class="col-lg-1 col-md-6 col-sm-2 col-4 form-group">
                {{ form.tac|as_crispy_field }}
            </div>
            <div class="col-lg-1 col-md-6 col-sm-2 col-4 form-group">
                {{ form.chegada|as_crispy_field }}
            </div>
        </div>




        <div class="form-row form-control-is-valid">
            <div class="col-lg-2 col-sm-4 col-6 form-group">
                {{ form.pedido|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-sm-4 col-6  form-group">

                {{ form.data|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-sm-4 col-4  form-group">
                {{ form.situacao|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-sm-4 col-4 form-group">
                {{ form.transp|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-sm-4 col-4 form-group">
                {{ form.veiculo|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-sm-4 col-md-4 col-4 form-group">
                {{ form.buonny|as_crispy_field }}
            </div>



            <div class="col-lg-2 col-sm-3 col-md-3 col-3 form-group">
                {{ form.placa|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-sm-5 col-md-5 col-5 form-group">
                {{ form.motorista|as_crispy_field }}
            </div>



            <div class="col-lg-2 col-sm-4 col-md-4 col-6 form-group">
                {{ form.valor_mot|as_crispy_field }}
            </div>

            <div class="col-lg-2 col-sm-4 col-md-4 col-6  form-group">
                {{ form.peso|as_crispy_field }}
            </div>
        </div>


        <hr>
        <div class="form-row">
            <div class="col-lg-3 col-sm-4 col-md-4 col-4  form-group">
                {{ form.notafiscal|as_crispy_field }}
            </div>
            <div class="col-lg-3 col-sm-4 col-md-4 col-4  form-group">
                {{ form.notafiscal2|as_crispy_field }}
            </div>
            <div class="col-lg-3 col-sm-4 col-md-4 col-4  form-group">
                {{ form.valornf|as_crispy_field }}
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-3   form-group">
                {{ form.renda|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3   form-group">
                {{ form.inteiro|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3   form-group">
                {{ form.impureza|as_crispy_field }}

            </div>


            <div class="col-lg-2 col-md-3 col-sm-3 col-3   form-group">
                {{ form.umidade|as_crispy_field }}

            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group">
                {{ form.gessado|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group">
                {{ form.bbranca|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group">
                {{ form.amarelo|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group">
                {{ form.manchpic|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group">
                {{ form.vermelhos|as_crispy_field }}
            </div>
        </div>
        <hr>

        <div class="form-row">
            <div class="col-9  offset-sm form-group">{{ form.obs|as_crispy_field }}</div>
        </div>
    </div>


    {% buttons %}

    <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
    <button type="button" class="btn btn-outline-warning btn-sm">
        <a href="{% url 'cargas' %}">Cancelar</a>
    </button>



    {% endbuttons %}
</form>
<script>

</script>
{% endblock %}