{% extends 'basecorretora.html' %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}


<style>
    #id_obs {
        height: 100px;


    }

    .classificacao {
        font-style: oblique;
        margin-bottom: 0px;
        text-decoration: underline;
        margin-top: 0px;
        align-self: center;
    }

    @media (min-width:980px) {
        .botoestop {
            margin-left: 32%;
        }
    }

    @media (min-width:980px) {
        .botoestop2 {
            margin-right: 27%;
        }
    }

    .formulario {
        margin-top: 20px;
        border: 0.2px solid #ccc;
        padding: 20px;
        padding-bottom: 20px;
    }

    input[type=text],
    input[type=number],
    div select {
        height: 32px !important;
        font-size: 15px !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

</style>

<form method="POST">
    <div class="row align-items-center">
        <div class="d-flex flex-column col">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column justify-content-start p-1 m-3">
                    <div class="botoestop container">
                        <h4> <span class="badge badge-primary p-1 m-1"> Pedido: {{carga.pedido}}
                            </span>&nbsp;&nbsp;<span
                                class="badge badge-dark p-1 m-1">{{ carga.placa|upper|slice:":3"}}-{{ carga.placa|upper|slice:"3:"}}
                                -
                                {{carga.motorista|title}}</span>
                    </div>
                    <div class="botoestop container-fluid" style="position: relative; left: -3%;">
                        <h5> <span class="badge badge-warning p-1 m-1">{{carga.pedido.fornecedor.nome}}</span>
                            &nbsp;&nbsp;<span
                                class="badge badge-success p-1 m-1">{{carga.pedido.cliente.nome_fantasia}}</span></h5>
                    </div>
                </div>
            </div>
            </h4>
        </div>
        <div class="col" align=right>
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            <a class="btn btn-warning btn-sm botoestop2" href="javascript:history.back()">Voltar</a>
        </div>
    </div>

    {% csrf_token %}
    <div
        class="container d-flex flex-column justify-content-center align-items-center col-lg-8 col-md-12 col-sm-12 col-12 formulario">
        <h4 class="classificacao" style="margin-bottom: 20px"><span class="badge badge-info">Classificação</span></h4>
        <div class="container d-flex flex-row justify-content-between form-row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3  form-group">
                {{ form.renda|as_crispy_field }}

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3  form-group">
                {{ form.inteiro|as_crispy_field }}

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3  form-group">
                {{ form.impureza|as_crispy_field }}

            </div>


            <div class="col-lg-3 col-md-3 col-sm-3 col-3  form-group">
                {{ form.umidade|as_crispy_field }}

            </div>
        </div>
        <div class="container d-flex flex-row justify-content-between form-row">
            <div class=" col form-group">
                {{ form.gessado|as_crispy_field }}

            </div>
            <div class=" col form-group">
                {{ form.bbranca|as_crispy_field }}

            </div>
            <div class=" col form-group">
                {{ form.amarelo|as_crispy_field }}

            </div>
            <div class=" col form-group">
                {{ form.manchpic|as_crispy_field }}

            </div>
            <div class=" col form-group">
                {{ form.vermelhos|as_crispy_field }}
            </div>
        </div>
        <br>

        <div class="container-fluid d-flex flex-row justify-content-center form-row">
            <div class="col">
                {{ form.obs|as_crispy_field }}
            </div>
        </div>


    </div>




    {% buttons %}
    <div class="container botoes">
        <div class="d-flex flex-row justify-content-center align-content-center">
            <input type="submit" class="btn btn-primary btn-sm" name='save' value="Salvar" data-toggle="tooltip"
                title="Salvar" data-placement="top" />

            <button type="button" class="btn btn-outline-warning btn-sm">
                <a href="{% url 'cargas' %}" data-toggle="tooltip" title="Cancelar" data-placement="top">Cancelar</a>
            </button>
        </div>
    </div>

    {% endbuttons %}
</form>
{% endblock %}
