{% load bootstrap4 %}
{% load humanize %}
{% block content %}
{% load mathfilters %}
{% load  corretora_extras %}

<style>

    .marginleft1 {
        margin-left: 1px !important;
    }

    .chartrow div {
        margin: 4px;        
    }

    @media (min-width:980px) {
            .chartrow {
                display: flex;
                flex-wrap: nowrap;
            }
        }
    
    .chartss {
        background-color: #1c1c1c;
    }
    
</style>
<div class="container">
    <div class="row">
        <div class="col" align=center>
            <h2><strong><a class="badge badge-primary badge-pill"> Gráfico Carregamento</a></strong></h2>
        </div>
    </div>
    <br>
</div>

<div>
    <div class="container-fluid sombra chartss" >
        <canvas id="graficocarregamento" width="400" height="100"></canvas>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col" align=center>
            <h2><strong><a class="badge badge-primary badge-pill"> Acompanhamento Preço Casca</a></strong></h2>
        </div>
    </div>
    <br>
</div>






   
<div class="container-fluid" id="graficos">
    <div class="row chartrow d-flex flex-row justify-content-around">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-11 p-1 mt-1">
            <div class="container-fluid sombra chartss">
                <canvas id="cda" style="max-height: 400px; width: auto; position: relative;"></canvas>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-11 p-1 mt-1 ">
            <div class="container-fluid sombra chartss">
                <canvas id="ruston" style="max-height: 400px; width: auto; position: relative;"></canvas>
            </div>
        </div>
    </div>
</div>
    <br>

    




<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
<script type="text/javascript">    
    function getRandomColor() {
                    var letters = "0123456789ABCDEF".split("");
                    var color = "#";
                    for (var i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    return color;
                }
    var ctx = document.getElementById('graficocarregamento').getContext('2d');    
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['{{0|nome_mes_seisanterior}}','{{0|nome_mes_cincoanterior}}','{{0|nome_mes_quatroanterior}}','{{0|nome_mes_tresanterior}}', '{{0|nome_mes_anteanterior}}', '{{0|nome_mes_anterior}}', '{{0|nome_mes}}'],
            datasets: [{% for cliente in clientes %}{% if cliente.carregamento_ultimos_meses > 0 %}{
                label: '{{ cliente.nome_fantasia|safe }}',                               
                backgroundColor: '{{cliente.color}}',
                borderColor: 'whitesmoke',
                borderWidth: 0.5,
                data: [{% for key, value in cliente.carregado_geral_por_cliente.items %} {% if value > 0 %} {{ value|safe }},{% else %} 0,{% endif %} {% endfor %}]
            },{% endif %}{% endfor %}]            
        },
        

        // Configuration options go here
        options: {
            layout: {
                padding: {
                top: 20,
                }
            },
            legend: {
                display: true,          
                fontColor: 'whitesmoke',  
                    labels: {
                        fontColor: 'whitesmoke',
                    }    
            },
            title: {
                display: true,
                fontColor: 'whitesmoke',
                text: 'Acompanhamento Carregamento',
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontColor: 'whitesmoke',
                        userCallback: function(value, index, values) {
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join('.');
                            value = value + ' kg';
                            return value;
                            }
                        },
                        gridLines: {
                            color: "rgba(245,245,245,0.2)",
                        },
                    }],
                xAxes: [{
                    ticks: {
                        fontColor: 'whitesmoke',
                        beginAtZero: true,
                        autoskip: true,
                        labels: false,
                    },
                    gridLines: {
                    color: "rgba(245,245,245,0.2)",
                    },
                }]
            },
            plugins: {
                labels: {
                render: 'value',                
                }
            },
            tooltips: {
                callbacks: {
                label: function (tooltipItem, data) {
                    var tooltipValue = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                    return parseInt(tooltipValue).toLocaleString();
                }
            }
        },
    }   
});
</script>
<script type="text/javascript">

    function getRandomColor() {
        var letters = "0123456789ABCDEF".split("");
        var color = "#";
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    Chart.defaults.global.defaultFontColor = 'black';
    var ctx = document.getElementById('cda').getContext('2d');

    var labelcd = [{% for p in chart %} {% if 'CDA' in p.cliente.nome_fantasia|upper and 'Arroz em Casca' in p.produto  and 'Palmaresa' not in p.fornecedor.nome %} "{{ p.data|safe }}", {% endif %} {% endfor %}];
    labelcd = labelcd.slice(-20);

    var labelru = [{% for p in chart %} {% if 'RUS' in p.cliente.nome_fantasia|upper and 'Arroz em Casca' in p.produto and 'Palmaresa' not in p.fornecedor.nome %} "{{ p.data|safe }}", {% endif %} {% endfor %}];
    labelru = labelru.slice(-20);

    var labelcap = [{% for p in chart %} {% if 'CAP' in p.cliente.nome_fantasia|upper and 'Arroz em Casca' in p.produto and 'Palmaresa' not in p.fornecedor.nome %} "{{ p.data|safe }}", {% endif %} {% endfor %}];


    var data1cd = [{% for p in chart %} {% if 'CDA' in p.cliente.nome_fantasia|upper and 'Arroz em Casca' in p.produto and 'Palmaresa' not in p.fornecedor.nome %} "{{ p.preco_produto|safe }}", {% endif %}{% endfor %}];
    data1cd = data1cd.slice(-20);

    var data1ru = [{% for p in chart %} {% if 'UST' in p.cliente.nome_fantasia|upper and 'Arroz em Casca' in p.produto and 'Palmaresa' not in p.fornecedor.nome %} "{{ p.preco_produto|safe }}", {% endif %}{% endfor %}];
    data1ru = data1ru.slice(-20);

    var data1cap = [{% for p in chart %} {% if 'CAP' in p.cliente.nome_fantasia|upper and 'Arroz em Casca' in p.produto and 'Palmaresa' not in p.fornecedor.nome %} "{{ p.preco_produto|safe }}", {% endif %}{% endfor %}];


    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: labelcd,
            datasets: [{
                label: 'CDA - Casca',
                // fillcolor: getRandomColor(),
                // backgroundColor: getRandomColor(),
                borderColor: 'rgba(235, 51, 19, 1)',
                backgroundColor: 'rgba(235, 51, 19, 1)',
                fontColor: 'whitesmoke',
                borderWidth: 2,
                lineTension: 0.1,
                fill: false,
                data: data1cd,
            }],
        },
        // Configuration options go here
        options: {
            scales: {
            xAxes: [{               
                ticks: {
                    display: true, //this will remove only the label                    
                    fontColor: 'whitesmoke',
                    
                },
                gridLines: {
                    color: "rgba(245,245,245,0.2)",
                },
            }],
            yAxes: [{
                ticks: {
                    fontColor: 'whitesmoke',
                    userCallback: function(value, index, values) {
                            value = value.toString();
                            value = 'R$ ' + value;
                            return value;
                            }
                },
                gridLines: {
                    color: "rgba(245,245,245,0.2)",
                },
            }]
        },
            legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: 'whitesmoke'
            }
        }
        }
        
    });



    Chart.defaults.global.defaultFontColor = 'black';
    var ctx = document.getElementById('ruston').getContext('2d');
    var labelrus = [{% for p in chart %} {% if 'RUS' in p.cliente.nome_fantasia|upper and 'Arroz em Casca' in p.produto and 'Palmaresa' not in p.fornecedor.nome %} "{{ p.data|safe }}", {% endif %} {% endfor and 'Arroz em Casca' in p.produto %}];
    labelrus = labelrus.slice(-20);

    var data1rus = [{% for p in chart %} {% if 'RUS' in p.cliente.nome_fantasia|upper and 'Arroz em Casca' in p.produto and 'Palmaresa' not in p.fornecedor.nome %} "{{ p.preco_produto|safe }}", {% endif %}{% endfor %}];
    data1rus = data1rus.slice(-20);


    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: labelrus,
            datasets: [{
                label: 'Ruston - Casca',
                // fillcolor: getRandomColor(),
                // backgroundColor: getRandomColor(),
                borderColor: 'blue',
                backgroundColor: 'blue',
                fontColor: 'whitesmoke',
                fill: false,
                data: data1rus
            }],
        },
        // Configuration options go here
        options: {
            scales: {
            xAxes: [{                
                ticks: {
                    display: true, //this will remove only the label
                    fontColor: 'whitesmoke',
                },
                gridLines: {
                    color: "rgba(245,245,245,0.2)",
                },
            }],
            yAxes: [{
                ticks: {
                    fontColor: 'whitesmoke',
                    userCallback: function(value, index, values) {
                            value = value.toString();
                            value = 'R$ ' + value;
                            return value;
                            }
                },
                gridLines: {
                    color: "rgba(245,245,245,0.2)",
                },
            }]
        },
            
            legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: 'whitesmoke',
            }
        }
        }
    });

    var ctx = document.getElementById('teste').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',


        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                // fillcolor: getRandomColor(),
                backgroundColor: getRandomColor(),
                borderColor: getRandomColor(),
                data: [0, 10, 5, 2, 20, 30, 45]
            },
            {
                label: 'My Second one',
                backgroundColor: getRandomColor(),
                borderColor: getRandomColor(),
                data: [0, 20, 25, 32, 70, 30, 45]
            },
            {
                label: 'Terceiro',
                backgroundColor: getRandomColor(),
                borderColor: getRandomColor(),
                data: [0, 20, 25, 32, 70, 30, 45]
            }]
        },

        // Configuration options go here
        options: {
            legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: '#111111'
            }
        }
        }
    });

</script>
{% endblock %}