{% load bootstrap4 %}
{% block content %}

<style>
    @media (min-width:980px) {
        small {
            margin-left: 55%;
        }
    }

    @media (min-width:980px) {
        small {
            margin-right: 12.5%;
        }
    }

    .fa-lg,
    .fa-sm {
        vertical-align: bottom !important;
        margin-bottom: 9.5px;
    }


    b.time {
        opacity: 0;
        -webkit-animation: fadeIn 1000ms linear;
        -moz-animation: fadeIn 1000ms linear;
        -o-animation: fadeIn 1000ms linear;
        animation: fadeIn 1000ms linear; 
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        -o-animation-fill-mode:forwards;
        animation-fill-mode:forwards;

        -webkit-animation-direction:alternate;
        animation-iteration-count:infinite;
        animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        }

</style>
<small class="ml-0">Olá {{ user.first_name|title }}, {% now "SHORT_DATE_FORMAT" %} </small>
<br />
<div class="container botoesfixo ml-0 pl-0">
    {% if user.is_superuser %}
    {% if request.get_full_path ==  "/corretora/dashboard" %}
    {% else %}
    <a class="btn btn-success btn-sm ml-0" href="{% url 'dashboard' %}" target="_blank">Painel</a>
    <a class="btn btn-primary btn-sm" href="{% url 'pedidos' %}" target="_blank">Pedidos</a>
    {% endif %}
    {% else %}
    <a class="btn btn-primary btn-sm ml-0" href="{% url 'pedidos' %}" target="_blank">Pedidos</a>
    {% endif %}
    <a class="text text-success fas fa-clipboard-list fa-lg" href="{% url 'add_pedidos' %}" target="_blank"></a>
    <a class="btn btn-primary btn-sm" href="{% url 'cargas' %}" target="_blank">Cargas</a>
    <a class="text text-success fas fa-truck-moving fa-lg" href="{% url 'add_age_cargas' %}" target="_blank"></a>
    <a class="btn btn-outline-info btn-sm" href="{% url 'cargasfiltro' %}" target="_blank">Cargas F</a>
    <a class="btn btn-primary btn-sm" href="{% url 'fornecedores' %}" target="_blank">Fornecedores</a>    
    <a class="text text-success fas fa-user-plus fa-sm" href="{% url 'add_fornecedor' %}" target="_blank"></a>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'agendamento' %}" target="_blank">Descarga Ruston</a>    
    <a class="btn btn-outline-info btn-sm" target="_blank" href="{% url 'admin:index'  %}">Admin</a>

</div>
<hr>

{% endblock %}
