<!-- Modal -->
<style>
  input[type='checkbox'] {
    
    height: 20px !important;
  }
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
            
            <h4> <em class="badge badge-success" id="myModalLabel">Ordem Enviada?</em></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form id="updateUser" action="" data-validate-username-url="{% url 'cargas_ajax_update' %}">
        <div class="modal-body">

          
          <input class="form-control" id="form-id" type="hidden" name="formId"/>
          
            
          
          
          <h5> <em  id="updatePlacaUser"></em></h5>
          <input class="form-control" id="form-name" type="checkbox" name="formName" />
            
          
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm  btn-primary" >Salvar</button>
            <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">Fechar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
