{% extends 'basecorretora.html' %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}







<form method="POST" novalidate class="needs-validation">
    {% csrf_token %}

    <div class="row">
        <div class="col">
            <h4><Span class="badge badge-primary">Adicionar Pedido</Span></h4>

        </div>
        <div class="col" align=right>
            <input type="submit" class="btn btn-primary btn-sm" name='save' value="Salvar" />
            <a class="btn btn-warning btn-sm" href="{% url 'corretora' %}">Voltar</a>
        </div>
    </div>

    <br />
    <hr>
    <div class="container">
        <div class="form-row">
            <div class="col-lg-1 col-sm-1 form-group">
                {{ form.ativo|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-4 form-group" data-toggle="tooltip" title="Contrato" data-placement="bottom">
                {{ form.contrato|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group" data-toggle="tooltip" title="Situação" data-placement="bottom">
                {{ form.situacao|as_crispy_field }}
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-4  form-group" data-toggle="tooltip" title="Data" data-placement="bottom">
                {{ form.data|as_crispy_field }}
            </div>

            <div class="col-lg-5 col-md-7 col-sm-10 col-11 form-group" data-toggle="tooltip" title="Fornecedor" data-placement="bottom">
                {{ form.fornecedor|as_crispy_field }}

                <div class="mr-3 p-1">
                    <a href="{% url 'add_fornecedor' %}" target="_blank" title="Adicionar outro Fornecedor"><i
                            class="fa fa-md fa-user-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-5  form-group" data-toggle="tooltip" title="Cliente" data-placement="bottom">
                {{ form.cliente|as_crispy_field }}
            </div>

        </div>
        <hr>
        <div class="form-row">
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 form-group" data-toggle="tooltip" title="Quantidade" data-placement="bottom">
                {{ form.quantidade_pedido|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6  form-group" data-toggle="tooltip" title="Preço" data-placement="bottom">
                {{ form.preco_produto|as_crispy_field }}
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 col-4" data-toggle="tooltip" title="Comissão C" data-placement="bottom">
                {{ form.comissaoc|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-4" data-toggle="tooltip" title="Comissão F" data-placement="bottom">
                {{ form.comissaof|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-4" data-toggle="tooltip" title="Preço Frete" data-placement="bottom">
                {{ form.preco_frete|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-md-4 col-sm-4 col-4 form-group" data-toggle="tooltip" title="Tipo" data-placement="bottom">
                {{ form.tipo|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-4 form-group" data-toggle="tooltip" title="Produto" data-placement="bottom">
                {{ form.produto|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-4 form-group" data-toggle="tooltip" title="Variedade" data-placement="bottom">
                {{ form.variedade|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 form-group" data-toggle="tooltip" title="Prazo Pgto" data-placement="bottom">
                {{ form.prazopgto|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 form-group" data-toggle="tooltip" title="Modalidade Pgto" data-placement="bottom">
                {{ form.modalidadepgto|as_crispy_field }}
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group" data-toggle="tooltip" title="Renda" data-placement="bottom">
                {{ form.renda|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group" data-toggle="tooltip" title="Inteiro" data-placement="bottom">
                {{ form.inteiro|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group" data-toggle="tooltip" title="Impureza" data-placement="bottom">
                {{ form.impureza|as_crispy_field }}

            </div>


            <div class="col-lg-2 col-md-3 col-sm-3 col-3  form-group" data-toggle="tooltip" title="Umidade" data-placement="bottom">
                {{ form.umidade|as_crispy_field }}

            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group" data-toggle="tooltip" title="Gessado" data-placement="bottom">
                {{ form.gessado|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group" data-toggle="tooltip" title="B.Branca" data-placement="bottom">
                {{ form.bbranca|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group" data-toggle="tooltip" title="Amarelo" data-placement="bottom">
                {{ form.amarelo|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group" data-toggle="tooltip" title="Manch/Pic" data-placement="bottom">
                {{ form.manchpic|as_crispy_field }}

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-3 form-group" data-toggle="tooltip" title="Vermelhos" data-placement="bottom">
                {{ form.vermelhos|as_crispy_field }}
            </div>
        </div>
        <hr>

        <div class="form-row" data-toggle="tooltip" title="Observações" data-placement="top">
            {{ form.obs|as_crispy_field }}

        </div>
    </div>

    {% buttons %}

    <input type="submit" class="btn btn-primary btn-sm" name='save' value="Salvar" data-toggle="tooltip" title="Salvar" data-placement="top" />
    <input type="submit" class="btn btn-success btn-sm" name="save_and_continue" value="Salvar e Continuar" data-toggle="tooltip" title="Salvar e Continuar" data-placement="top"  />
    <button type="button" class="btn btn-warning btn-sm">
        <a href="{% url 'fornecedores' %}" data-toggle="tooltip" title="Cancelar" data-placement="top">Cancelar</a>
    </button>




    {% endbuttons %}
</form>
<script>
    $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}