{% load bootstrap4 %}
{% load humanize %}
{% block content %}
{% load mathfilters %}

<style>
    .mesmo-tamanho {
        width: 15%;
        white-space: normal;
    }
    
    .toolboxnumberpedidos {
        position: relative;
        top: 64px;
        right: -10%;
    }

    #pedidossaldos {
        height: 25px;
        font-size: 12px;
        text-align: center;
    }

    .clicked {
        background-color: #111111 !important;
        color: whitesmoke !important;
    }

    tr input[type="checkbox"], td input[type="checkbox"] {
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
    }


    b.time {
        opacity: 0;
        -webkit-animation: fadeIn 1000ms linear;
        -moz-animation: fadeIn 1000ms linear;
        -o-animation: fadeIn 1000ms linear;
        animation: fadeIn 1000ms linear; 
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        -o-animation-fill-mode:forwards;
        animation-fill-mode:forwards;

        animation-direction:alternate;
        -webkit-animation-direction:alternate;
        animation-iteration-count:infinite;
        animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        }
</style>
<br />
<div class="container-fluid tabini sombra" align=center id="resumopedidos">
    <br />
    <div class="ml-0 container flex-wrap justify-content-center align-content-end">
        
        <div class="row d-flex flex-row align-items-end">
            <div class="col-6 align-self-end mt-1" align=left>
                <h4 style="margin:0px ; text-decoration: underline;"><strong>Resumo Pedidos</strong>
                <i class="fas fa-xs fa-sync-alt text-success ml-3" onClick="refreshTabelaPedidos()" style="cursor: pointer" id="lock-refresh-pedidos"></i></h4>
            </div>
            <div class="col-2 toolboxnumberpedidos">
                <input class="form-control input-sm" type="text" id="pedidossaldos" onclick="AddValor()" placeholder="Peso em Kg">
            </div>
        </div>
        <div class="row d-flex flex-row align-items-end" style="padding-left: 15px;">
            <div class="d-flex justify-content-start">
                <small class="m-0">Última Atualização: <b class="time"> {% now "H:i:s" %}</b></small>
            </div>
        </div>

    </div>
    <hr />
    <div class="my-table hide" style="zoom:67%" id="pedidos10">
        <table id="dtBasicExample"
            class="width table table-condensed table-striped table-hover table-dark table-bordered table-sm">
            <thead class="borderless">
                <tr>
                    <th scope="col">Contrato</th>
                    <th scope="col">Situação</th>
                    <th scope="col">Data</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Origem </th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Frete</th>
                    <th scope="col" class="text text-center">Quantidade</th>
                    <th scope="col" class="text text-center">Quantidade Kg </th>
                    <th scope="col"><input type="checkbox" value="0" id='select-all-carregado'></th>
                    <th scope="col" class="text text-center">Carregado</th>
                    <th scope="col"><input type="checkbox" value="0" id='select-all-saldo'></th>
                    <th scope="col" class="text text-center">Saldo Real</th>
                    <th scope="col"><input type="checkbox" value="0" id='select-all-previsto'></th>
                    <th scope="col" class="text text-center">Previsto</th>
                    <th scope="col"><input type="checkbox" value="0" id='select-all-saldoprevisto'></th>
                    <th scope="col" class="text text-center">Saldo Prev.</th>
                    <th scope="col" class="text text-center"><i style="color:green;" class="fas fa-lg fa-file-excel" ></i></th>
                    {% if user.is_superuser%}
                    <th scope="col" class="text text-center">Comiss</th>
                    {% endif %}
                    <th scope="col" class="text text-center">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos|slice:":100" %}

                <tr class="simplehighlight2">
                    {% if pedido.carregado %}
                    <td><a class="text" href="{% url 'detail_cargas' pedido.pk %}" target="_blank"
                            style='font-style:italic; color: blanchedalmond; text-decoration: underline;'><strong>{{ pedido.contrato }}</strong></a>
                    </td>
                    {% else %}
                    <td><a class="text text-white"
                            style='font-style:italic; '><strong>{{ pedido.contrato }}</strong></a>
                    </td>
                    {% endif %}
                    {% if pedido.situacao == 'a' %}
                    <td class="text-success text-center"><strong>Aberto</strong></td>
                    {% elif pedido.situacao == 'b' %}
                    <td class="text-danger text-center"><strong>Fechado</strong></td>
                    {% elif pedido.situacao == 'c' %}
                    <td class="text-danger text-center"><strong>Cancelado</strong></td>
                    {% else %}
                    {% endif %}

                    <td>{{ pedido.data|date:"SHORT_DATE_FORMAT" }}</td>


                    {% if  'PALMARES' in pedido.fornecedor.nome|upper %}
                    <td style="background-color: #9400d3;">Palmares
                    </td>
                    {% elif pedido.obs %}
                    <td><abbr class="text-warning"
                            title="{{ pedido.obs }}"><em>{{ pedido.fornecedor|title|truncatechars:26 }}</em></abbr>
                        {% else %}
                    <td>{{ pedido.fornecedor|title|truncatechars:26 }}</td>
                    {% endif %}

                    <td>{{ pedido.fornecedor.cidade|truncatechars:20 }}</td>

                    <td style="color: {{ pedido.cliente.color}}"><em><strong>{{ pedido.cliente|upper|truncatechars:14  }}</strong></em></td>

                    <td>R$ {{ pedido.preco_produto|intcomma  }}</td>
                    <td> {{ pedido.produto  }} </td>
                    <td> {{ pedido.tipo}} </td>



                    <td> R$ {{ pedido.preco_frete  }} </td>


                    {% if pedido.produto == "Arroz em Casca" %}
                    {% if pedido.ativo == True and pedido.situacao == 'a'%}
                    <td align=center class="text text-success">
                        <strong>{{ pedido.quantidade_pedido|div:50|floatformat:"0"}} Scs</strong>
                    </td>
                    {% else %}
                    <td align=center>{{ pedido.quantidade_pedido|div:50|floatformat:"0"}} Scs </td>
                    {% endif %}

                    {% elif pedido.produto == "Semente" %}
                    {% if pedido.ativo == True and pedido.situacao == 'a'%}
                    <td align=center class="text text-success">
                        <strong>{{ pedido.quantidade_pedido|div:40|floatformat:"0"}} Scs</strong>
                    </td>
                    {% else %}
                    <td align=center>{{ pedido.quantidade_pedido|div:40|floatformat:"0"}} Scs </td>
                    {% endif %}
                                        
                    {% else %}
                    {% if pedido.ativo == True and pedido.situacao == 'a' %}
                    <td align=center class="text text-success">
                        <strong>{{ pedido.quantidade_pedido|div:30|floatformat:"0"}} Fds</strong>
                    </td>
                    {% else %}
                    <td align=center>{{ pedido.quantidade_pedido|div:30|floatformat:"0"}} Fds </td>
                    {% endif %}
                    {% endif %}
                    <td align=center>{{ pedido.quantidade_pedido|intcomma }} Kg </td>
                    {% if pedido.carregado == 0 %}
                    <td align=center><input type="checkbox" name="carregado" value="0" align="center" style="size: 10px;">
                    </td>
                    <td align=center> - </td>
                    {% elif pedido.carregado == None %}
                    <td align=center><input type="checkbox" name="carregado" value="0" align="center" style="size: 10px;">
                    </td>
                    <td align=center> - </td>
                    {% else %}
                    <td align=center><input type="checkbox" name="carregado" value="{{ pedido.carregado|stringformat:"i" }}"
                            align="center" style="size: 10px;"></td>
                    <td align=center>{{ pedido.carregado }} Kg</td>
                    {% endif %}
                    <td align=center><input type="checkbox" name="saldo" value="{{ pedido.saldo|stringformat:"i" }}" align="center"
                            style="size: 10px;"></td>
                    {% if pedido.saldo == 0 %}
                    <td align=center> - </td>
                    {% elif pedido.saldo == None %}
                    <td align=center> - </td>
                    {% elif pedido.saldo < 0 %}
                    <td align=center class="text-danger"><strong>{{ pedido.saldo }} Kg</strong></td>
                    {% elif pedido.saldo > 25000 %}
                    <td align=center class="text-success"><strong>{{ pedido.saldo }} Kg</strong></td>
                    {% elif pedido.saldo > 0 %}
                    <td align=center class="text-warning"><strong>{{ pedido.saldo }} Kg</strong></td>

                    {% else %}
                    <td align=center>{{ pedido.saldo }} Kg</td>
                    {% endif %}
                    <td align=center><input type="checkbox" name="previsto" value="{{ pedido.previsto|stringformat:"i" }}"
                            align="center" style="size: 10px;"></td>
                    {% if pedido.previsto == 0 %}
                    <td align=center> - </td>
                    {% elif pedido.previsto == None %}
                    <td align=center> - </td>
                    {% else %}
                    <td align=center class="text-primary"><strong>{{ pedido.previsto }} Kg</strong></td>
                    {% endif %}
                    <td align=center><input type="checkbox" name="saldoprevisto" value="{{ pedido.saldoprevisto|stringformat:"i" }}"
                            class="icms" align="center" style="size: 10px;"></td>
                    {% if pedido.saldoprevisto == 0 %}
                    <td align=center> - </td>
                    {% elif pedido.saldoprevisto == None %}
                    <td align=center> - </td>
                    {% elif pedido.saldoprevisto < 0 %}
                    <td align=center class="text-danger"><strong>{{ pedido.saldoprevisto }} Kg</strong> </td>
                    {% elif pedido.saldoprevisto < pedido.saldo %}
                    <td align=center class="text-warning"><strong>{{ pedido.saldoprevisto }} Kg</strong> </td>

                    {% else %}
                    <td align=center class="text-success"><strong>{{ pedido.saldoprevisto }} Kg</strong></td>
                    {% endif %}

                    {% if pedido.pedido_arquivo %}
                    <td class="text-center"><a href="{{ pedido.pedido_arquivo.url}}"><i style="color:green;" class="fas fa-lg fa-file-excel" ></i></a></td>
                    {% else %}
                    <td class="text-center">-</td>
                    {% endif %}

                    {% if user.is_superuser %}
                    {% if pedido.produto == 'Arroz em Casca' or pedido.produto == 'Semente' and pedido.totalcomissaocasca != None and pedido.carregado %}
                    {% if pedido.totalcomissaocasca == 0 %}
                    <td class="text-center">-</td>
                    {% else %}
                    {% if pedido.comissaorecebida > 0 %}
                    <td class="text-center"><a href="{% url 'detail_cargas_comiss' pedido.pk %}" target="_blank"
                            style='font-style:italic;  color:#f0ad4e;'><b>R$
                                {{ pedido.totalcomissaocasca|floatformat:2 }}</b>
                        </a></td>
                    {% else %}
                    <td class="text-center"><a href="{% url 'detail_cargas_comiss' pedido.pk %}" target="_blank"
                            style='font-style:italic;' class="text text-success"><b>R$
                                {{ pedido.totalcomissaocasca|floatformat:2 }}</b>
                        </a></td>
                    {% endif %}
                    {% endif %}
                    {% else %}
                    <td class="text-center">-</td>
                    {% endif %}                    
                    {% endif %}
                    {% if pedido.carregado %}
                    <td align=center>
                        <a class="btn btn-warning btn-xs" target="_blank"
                            href="{% url 'upd_pedidos' pedido.pk %}">EDIT</a>
                    </td>
                    {% else %}
                    <td align=center>
                        <a class="btn btn-warning btn-xs" target="_blank"
                            href="{% url 'upd_pedidos' pedido.pk %}">EDIT</a>
                        <a class="btn btn-danger btn-xs" target="_blank"
                            href="{% url 'del_pedidos' pedido.pk %}">DEL</a>
                    </td>
                    {% endif %}

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    

</script>
{% endblock %}
