{% load bootstrap4 %}
{% load humanize %}
{% block content %}
{% load mathfilters %}

<style>
    .mesmo-tamanho {
        width: 15%;
        white-space: normal;
    }

</style>
<br />
<div class="container-fluid tabini sombra" align=center id="resumopedidos">
    <br />
    <div class="container flex-wrap justify-content-center align-content-end">
        <div class="row d-flex flex-row align-items-end">
            <div class="col-6 align-self-end" align=left>
                <h4 style="margin:0px"><strong>Resumo Pedidos</strong></h4>
            </div>
            <div class="col-2">
                <input class="form-control input-sm" type="text" id="pedidossaldos" onclick="AddValor()">
            </div>

        </div>

    </div>
    <hr />
    <div class="my-table hide" style="zoom:67%" id="###">
        <table id="dtBasicExample"
            class="width table table-condensed table-striped table-hover table-dark table-bordered table-sm">
            <thead class="borderless">
                <tr>
                    <th scope="col">Contrato</th>
                    <th scope="col">Situação</th>
                    <th scope="col">Data</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Origem </th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Frete</th>
                    <th scope="col" class="text text-center">Quantidade</th>
                    <th scope="col" class="text text-center">Quantidade Kg </th>
                    <th scope="col"><a class="text-primary fa fa-check"></a></th>
                    <th scope="col" class="text text-center">Carregado</th>
                    <th scope="col"><a class="text-primary fa fa-check"></a></th>
                    <th scope="col" class="text text-center">Saldo Real</th>
                    <th scope="col"><a class="text-primary fa fa-check"></a></th>
                    <th scope="col" class="text text-center">Previsto</th>
                    <th scope="col"><a class="text-primary fa fa-check"></a></th>
                    <th scope="col" class="text text-center">Saldo Prev.</th>
                    {% if user.is_superuser%}
                    <th scope="col" class="text text-center">Comiss</th>
                    {% endif %}
                    <th scope="col" class="text text-center">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos|slice:":100" %}

                <tr>
                    {% if pedido.carregado %}
                    <td><a class="text" href="{% url 'detail_cargas' pedido.pk %}" target="_blank"
                            style='font-style:italic; color: blanchedalmond; text-decoration: underline;'><strong>{{ pedido.contrato }}</strong></a>
                    </td>
                    {% else %}
                    <td><a class="text text-white"
                            style='font-style:italic; '><strong>{{ pedido.contrato }}</strong></a>
                    </td>
                    {% endif %}
                    {% if pedido.situacao == 'a' %}
                    <td class="text-success text-center"><strong>Aberto</strong></td>
                    {% elif pedido.situacao == 'b' %}
                    <td class="text-danger text-center"><strong>Fechado</strong></td>
                    {% elif pedido.situacao == 'c' %}
                    <td class="text-danger text-center"><strong>Cancelado</strong></td>
                    {% else %}
                    {% endif %}

                    <td>{{ pedido.data|date:"SHORT_DATE_FORMAT" }}</td>


                    {% if  'PALMARES' in pedido.fornecedor.nome|upper %}
                    <td style="background-color: #9400d3;">Palmares
                    </td>
                    {% elif pedido.obs %}
                    <td><abbr class="text-warning"
                            title="{{ pedido.obs }}"><em>{{ pedido.fornecedor|title|truncatechars:26 }}</em></abbr>
                        {% else %}
                    <td>{{ pedido.fornecedor|title|truncatechars:26 }}</td>
                    {% endif %}

                    <td>{{ pedido.fornecedor.cidade|truncatechars:20 }}</td>

                    {% if 'CDA' in pedido.cliente.nome_fantasia|upper %}
                    <td class="text-danger">
                        <em><strong>{{ pedido.cliente|upper|truncatechars:10 }}</strong></em></td>
                    {% elif 'USTON' in pedido.cliente.nome_fantasia|upper %}
                    <td class="text-primary text-truncate">
                        <em><strong>{{ pedido.cliente|upper|truncatechars:12 }}</strong></em></td>
                    {% elif 'APIT' in pedido.cliente.nome_fantasia|upper %}
                    <td class="text-truncate" style="color: orange;">
                        <em><strong>{{ pedido.cliente|upper|truncatechars:14 }}</strong></em>
                    </td>
                    {% else %}
                    <td><strong>{{ pedido.cliente|upper|truncatechars:14 }}</strong></td>
                    {% endif %}

                    <td>R$ {{ pedido.preco_produto|intcomma  }}</td>
                    <td> {{ pedido.produto  }} </td>
                    {% if pedido.produto == 'Arroz em Casca' %}
                    <td> Saco 50Kg </td>
                    {% else %}
                    <td> Fardo 30Kg </td>
                    {% endif %}



                    <td> R$ {{ pedido.preco_frete  }} </td>


                    {% if pedido.produto == "Arroz em Casca" %}
                    {% if pedido.ativo == True and pedido.situacao == 'a'%}
                    <td align=center class="text text-success">
                        <strong>{{ pedido.quantidade_pedido|div:50|floatformat:"0"}} Scs</strong>
                    </td>
                    {% else %}
                    <td align=center>{{ pedido.quantidade_pedido|div:50|floatformat:"0"}} Scs </td>
                    {% endif %}
                    {% else %}
                    {% if pedido.ativo == True and pedido.situacao == 'a' %}
                    <td align=center class="text text-success">
                        <strong>{{ pedido.quantidade_pedido|div:30|floatformat:"0"}} Fds</strong>
                    </td>
                    {% else %}
                    <td align=center>{{ pedido.quantidade_pedido|div:30|floatformat:"0"}} Fds </td>
                    {% endif %}
                    {% endif %}
                    <td align=center>{{ pedido.quantidade_pedido|intcomma }} Kg </td>
                    {% if pedido.carregado == 0 %}
                    <td align=center><input type="checkbox" value="0" align="center" style="size: 10px;">
                    </td>
                    <td align=center> - </td>
                    {% elif pedido.carregado == None %}
                    <td align=center><input type="checkbox" value="0" align="center" style="size: 10px;">
                    </td>
                    <td align=center> - </td>
                    {% else %}
                    <td align=center><input type="checkbox" value="{{ pedido.carregado|stringformat:"i" }}"
                            align="center" style="size: 10px;"></td>
                    <td align=center>{{ pedido.carregado }} Kg</td>
                    {% endif %}
                    <td align=center><input type="checkbox" value="{{ pedido.saldo|stringformat:"i" }}" align="center"
                            style="size: 10px;"></td>
                    {% if pedido.saldo == 0 %}
                    <td align=center> - </td>
                    {% elif pedido.saldo == None %}
                    <td align=center> - </td>
                    {% elif pedido.saldo < 0 %}
                    <td align=center class="text-danger"><strong>{{ pedido.saldo }} Kg</strong></td>
                    {% elif pedido.saldo > 25000 %}
                    <td align=center class="text-success"><strong>{{ pedido.saldo }} Kg</strong></td>
                    {% elif pedido.saldo > 0 %}
                    <td align=center class="text-warning"><strong>{{ pedido.saldo }} Kg</strong></td>

                    {% else %}
                    <td align=center>{{ pedido.saldo }} Kg</td>
                    {% endif %}
                    <td align=center><input type="checkbox" value="{{ pedido.previsto|stringformat:"i" }}"
                            align="center" style="size: 10px;"></td>
                    {% if pedido.previsto == 0 %}
                    <td align=center> - </td>
                    {% elif pedido.previsto == None %}
                    <td align=center> - </td>
                    {% else %}
                    <td align=center class="text-primary"><strong>{{ pedido.previsto }} Kg</strong></td>
                    {% endif %}
                    <td align=center><input type="checkbox" value="{{ pedido.saldoprevisto|stringformat:"i" }}"
                            class="icms" align="center" style="size: 10px;"></td>
                    {% if pedido.saldoprevisto == 0 %}
                    <td align=center> - </td>
                    {% elif pedido.saldoprevisto == None %}
                    <td align=center> - </td>
                    {% elif pedido.saldoprevisto < 0 %}
                    <td align=center class="text-danger"><strong>{{ pedido.saldoprevisto }} Kg</strong> </td>
                    {% elif pedido.saldoprevisto < pedido.saldo %}
                    <td align=center class="text-warning"><strong>{{ pedido.saldoprevisto }} Kg</strong> </td>

                    {% else %}
                    <td align=center class="text-success"><strong>{{ pedido.saldoprevisto }} Kg</strong></td>
                    {% endif %}
                    {% if user.is_superuser %}
                    {% if pedido.produto == 'Arroz em Casca' and pedido.totalcomissaocasca != None and pedido.carregado %}
                    {% if pedido.comissaorecebida > 0 %}
                    <td class="text-center"><a href="{% url 'detail_cargas_comiss' pedido.pk %}" target="_blank"
                            style='font-style:italic;  color:#f0ad4e;'><b>R$
                                {{ pedido.totalcomissaocasca|floatformat:2 }}</b>
                        </a></td>
                    {% else %}
                    <td class="text-center"><a href="{% url 'detail_cargas_comiss' pedido.pk %}" target="_blank"
                            style='font-style:italic;' class="text text-success"><b>R$
                                {{ pedido.totalcomissaocasca|floatformat:2 }}</b>
                        </a></td>
                    {% endif %}
                    {% else %}
                    <td class="text-center">-</td>
                    {% endif %}
                    {% endif %}
                    {% if pedido.carregado %}
                    <td align=center>
                        <a class="btn btn-warning btn-xs" target="_blank"
                            href="{% url 'upd_pedidos' pedido.pk %}">Editar</a>
                    </td>
                    {% else %}
                    <td align=center>
                        <a class="btn btn-warning btn-xs" target="_blank"
                            href="{% url 'upd_pedidos' pedido.pk %}">Editar</a>
                        <a class="btn btn-danger btn-xs" target="_blank"
                            href="{% url 'del_pedidos' pedido.pk %}">Deletar</a>
                    </td>
                    {% endif %}

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    // $("#seletodos").click(function () {
    //     $('input.seletodos2:checkbox').not(this).prop('checked', this.checked);
    // });


    var total2 = 0;
    //Chama a função com click em qualquer checkbox

    $("#dtBasicExample").find("input:checkbox").click(function () {
        //Atribui o valor do input p/ variável 'valor'
        var valor1 = parseInt($(this).val());
        //Se o checkbox for marcado ele soma se não subtrai
        if ($(this).is(":checked")) {
            total2 += valor1;
        } else {
            total2 -= valor1;
        }
        var total1 = (total2).toLocaleString('pt-BR');
        //Atribui o valor ao input
        $("#pedidossaldos").val(total1);
    });
</script>
{% endblock %}
