{% load bootstrap4 %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
{% now "Y-m-d" as todays_date %}
{% load  corretora_extras %}
{% load static %}
<style>
    caption {
        caption-side: top;

    }

    .nowrap {
        white-space: nowrap;
    }

    .inherit {
        height: inherit;
    }



    @media (max-width:980px) {
        .marginbox1 {
            margin-bottom: 20px !important;
        }
    }

    .marcelopata {
        overflow-x: auto;
    }

    #comidash,
    #cargasdash,
    #contratodash {
        max-height: 900px;
        transition: max-height 1.5s ease-in-out;
        overflow-y: hidden;

    }

    #tabelascargas,
    #tabelaspedidos {
        max-height: 200000px;
        transition: max-height 1.5s ease-in-out;
        overflow-y: hidden;

    }

    #comidash.hide,
    #cargasdash.hide,
    #contratodash.hide,
    #tabelascargas.hide,
    #tabelaspedidos.hide {
        max-height: 0;
        pointer-events: none;
    }

    .fa-eye-slash,
    .fa-eye {
        font-size: 15px;
    }



    .fa-eye-slash,
    .fa-eye {
        padding-left: 20px;
        padding-right: 4px;
    }

    .table-hover>tbody>tr:hover>td,
    .table-hover>tbody>tr:hover>th {
        background-color: #111111;
        color: whitesmoke;
    }

</style>

<div class="container-fluid" id="resumos">
    <div class="d-flex flex-row flex-wrap flex-md-wrap flex-sm-wrap justify-content-around m-1 p-2 topo">


        <div class="col-lg-5  col-md-8 col-sm-12 tabini sombra  marginbox1 justify-content-between p-2 m-1 marcelopata2"
            style="zoom:90%">

            <h5 align=left><strong><i>Contratos</i></strong></h5>
            <div class="d-flex align-items-center marcelopata flex-fill hide" id="contratodash">

                <table
                    class="table tabledash table-round-corner table-striped table-borderless table-hover table-dark  nowrap table-sm"
                    style="color: antiquewhite;">
                    <caption><strong>Contratos Ativos</strong></caption>
                    <thead>
                        <tr align="center">
                            <th scope="col" class="text text-center"><strong>Clientes</strong></th>
                            <th scope="col" class="text-success text-center"><strong>Saldo Real</strong></th>
                            <th scope="col" class="text-primary text-center"><strong>Saldo Prev.</strong></th>
                            <th scope="col" class="text-warning text-center"><strong>Pedido</strong></th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        {% for cliente in clientes %}
                        <tr align=" center">
                            {% if cliente.locaiscarrega > 0 %}
                            {% if 'uston' in cliente.nome|lower %}
                            <td scope="col" class="text-primary"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% elif 'cda' in cliente.nome|lower %}
                            <td scope="col" class="text-danger"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% elif 'apit' in cliente.nome|lower %}
                            <td scope="col" style="color: orange;"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% else %}
                            <td scope="col"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% endif %}
                            {% else %}
                            {% endif %}
                            {% if cliente.locaiscarrega > 0 %}
                            {% if cliente.saldopedido < 0 %}
                            <td class="text text-danger"><b>{{ cliente.saldopedido }} Kg</b></td>
                            {% elif cliente.saldopedido > 0 %}
                            <td>{{ cliente.saldopedido }} Kg</td>
                            {% elif cliente.saldopedido == 0 %}
                            <td>-</td>
                            {% else %}
                            {% endif %}
                            {% else %}
                            {% endif %}
                            {% if cliente.locaiscarrega > 0 %}
                            {% if cliente.saldoprevisto == cliente.saldopedido %}
                            <td>-</td>
                            {% elif cliente.saldoprevisto < cliente.saldopedido and cliente.saldoprevisto < 0 %}
                            <td class="text text-danger"><b>{{ cliente.saldoprevisto }} Kg</b></td>
                            {% else %}
                            <td>{{ cliente.saldoprevisto }} Kg</td>
                            {% endif %}
                            {% else %}
                            {% endif %}
                            {% if cliente.locaiscarrega > 0 %}
                            <td>{{ cliente.locaiscarrega }} Pedido{{ cliente.locaiscarrega|pluralize }} </td>
                            {% else %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        {% if user.is_superuser %}
        <div class="col-lg-5 col-md-8 col-sm-12  tabini sombra  justify-content-between p-2 m-1 marcelopata2"
            style="zoom:90%">

            <h5 align=left><strong><i>Comissões</i></strong>&nbsp;<a><i class="fas fa-eye text-info" id="ocultar"
                        onclick="ocultarmostrar('comidash','ocultar')"></i></a>

            </h5>
            <div class="d-flex align-items-center marcelopata flex-fill hide" id="comidash">

                <table
                    class="table tabledash table-round-corner table-striped table-borderless table-hover table-dark nowrap table-sm"
                    style="color: antiquewhite;">
                    <caption><strong>Total Aberto - {% for cliente in clientes %}{% if 'ust' in cliente.nome|lower %}
                            R$ {{ cliente.comissaoabertocascatotal|slice:"1"|floatformat:'2'}}
                            {% else %}
                            {% endif %}{% endfor %}</strong></caption>
                    <thead>
                        <tr align="center">
                            <th scope="col" class="text text-center"><strong>Clientes</strong></th>
                            <th scope="col" class="text-success text-center"><strong>Semana</strong></th>
                            <th scope="col" class="text-primary text-center"><strong>Mês</strong></th>
                            <th scope="col" class="text-warning text-center"><strong>Aberto</strong></th>


                        </tr>
                    </thead>
                    <tbody align="center">
                        {% for cliente in clientes %}
                        <tr align="center">
                            {% if cliente.comissaoabertocasca > 0 or cliente.comissaosemanacasca > 0 or cliente.comissaomescasca > 0%}
                            {% if 'uston' in cliente.nome|lower %}
                            <td scope="col" class="text-primary"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% elif 'cda' in cliente.nome|lower %}
                            <td scope="col" class="text-danger"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% elif 'apit' in cliente.nome|lower %}
                            <td scope="col" style="color: orange;"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% else %}
                            <td scope="col"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% endif %}
                            {% if cliente.comissaosemanacasca == 0 %}
                            <td align="center">R$ 0,00 </td>
                            {% else %}
                            <td>R$ {{ cliente.comissaosemanacasca|floatformat:"2" }}</td>
                            {% endif %}

                            {% if cliente.comissaomescasca == 0 %}
                            <td align="center">R$ 0,00 </td>
                            {% else %}
                            <td>R$ {{ cliente.comissaomescasca|floatformat:"2" }}</td>
                            {% endif %}

                            {% if cliente.comissaoabertocasca == 0 %}
                            <td align="center">R$ 0,00 </td>
                            {% else %}
                            <td>R$ {{ cliente.comissaoabertocasca|floatformat:"2" }}</td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="d-flex flex-wrap flex-md-wrap flex-sm-wrap justify-content-center m-1 p-2 topo">

        <div class="col-lg-8 col-md-10 col-sm-12  tabini sombra  justify-content-between p-2 m-1 marcelopata2"
            style="zoom:90%">

            <h5 align=left><strong><i>Carregamentos</i></strong></h5>
            <div class="d-flex align-items-center marcelopata flex-fill hide" id="cargasdash">

                <table
                    class="table tabledash table-round-corner table-striped table-borderless table-hover table-dark nowrap table-sm"
                    style="color: antiquewhite;">
                    <caption><strong>Semana Atual - {% for cliente in clientes %}{% if 'ust' in cliente.nome|lower %}
                            {{ cliente.carregadosemanatotal|intcomma }} Kg &ensp;&ensp; / &ensp;&ensp;Mês Atual -
                            {{ cliente.carregadomestotal|intcomma }} Kg
                            {% else %}
                            {% endif %}{% endfor %}</strong></caption>
                    <thead>
                        <tr align="center">
                            <th scope="col" class="text text-center"><strong>Clientes</strong></th>
                            <th scope="col" class="text-success text-center"><strong>Carregado</strong></th>
                            <th scope="col" class="text-primary text-center"><strong>Carregando</strong></th>
                            <th scope="col" class="text-warning text-center"><strong>Agendado</strong></th>
                            <th scope="col" class="text-info text-center"><strong>Total</strong></th>
                            <th scope="col" class="text-warning text-center"><strong>Semana Seguinte</strong></th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        {% for cliente in clientes %}
                        <tr align=" center">
                            {% if cliente.agendadosemana > 0 or cliente.carregadosemana > 0 or cliente.agendadoordemsemana > 0 or cliente.agendadosemanaseguinte > 0 %}
                            {% if 'uston' in cliente.nome|lower %}
                            <td scope="col" class="text-primary"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% elif 'cda' in cliente.nome|lower %}
                            <td scope="col" class="text-danger"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% elif 'apit' in cliente.nome|lower %}
                            <td scope="col" style="color: orange;"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% else %}
                            <td scope="col"><strong>{{ cliente.nome_fantasia}}</strong></td>
                            {% endif %}
                            {% if cliente.carregadosemana == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ cliente.carregadosemana }} Kg</td>
                            {% endif %}

                            {% if cliente.agendadoordemsemana == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ cliente.agendadoordemsemana }} Kg</td>
                            {% endif %}

                            {% if cliente.agendadosemana == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ cliente.agendadosemana }} Kg</td>
                            {% endif %}
                            {% if cliente.totalsemana == 0 %}
                            <td>-</td>
                            {% else %}
                            <td class="text-info"><strong>{{ cliente.totalsemana }} Kg</strong></td>
                            {% endif %}
                            {% if cliente.agendadosemanaseguinte == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ cliente.agendadosemanaseguinte }} Kg</td>
                            {% endif %}
                            {% else %}
                            {% endif %}

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>




    </div>
</div>


<script>
    function ocultarmostrar(el, el2) {
        if (document.getElementById("comidash").classList.contains('hide')) {
            document.getElementById(el).classList.remove('hide');
            document.getElementById(el2).className = "fas fa-eye text-info";
        }
        else {
            document.getElementById(el).classList.add('hide');
            document.getElementById(el2).className = "fas fa-eye-slash text-danger";
        }
    }

    setTimeout(function () {
        document.getElementById("contratodash").classList.remove("hide");
        document.getElementById("cargasdash").classList.remove("hide");
        document.getElementById("comidash").classList.remove("hide");
    }, 300);

    setTimeout(function () {
        document.getElementById("tabelascargas").classList.remove("hide");
    }, 200);

    setTimeout(function () {
        document.getElementById("tabelaspedidos").classList.remove("hide");
    }, 250);

    setTimeout(function () {
        document.getElementById("comidash").classList.add("hide");
        document.getElementById("ocultar").className = "fas fa-eye-slash text-danger";
    }, 2000);

</script>
{% endblock %}
