{% load bootstrap4 %}
{% load humanize %}
{% block content %}
{% load static %}

<!--Resumo Fornecedores-->



{% include 'tabelas_dashboard_basecorretora.html' %}


<!--Tabela de pedidos-->

<div id="wait" data-pedido-url="{% url 'tabelapedidos' %}">
    <div class="d-flex justify-content-center mt-4">
        <h3><i class="fas fa-lg fa-spinner fa-spin text-warning"></i></h3>
    </div>
</div>
<div id="ajaxpedidos" ></div>


<!--Tabela das cargas-->
<div id="waitcargas" data-carga-url="{% url 'tabelacargas' %}">
    <div class="d-flex justify-content-center mt-4">
        <h3><i class="fas fa-lg fa-spinner fa-spin text-primary"></i></h3>
    </div>
</div>
<div id="ajaxcargas" ></div>




{% endblock %}

{% block js %}
<script src="{% static 'js/tabelasbasecorretora.js' %}"></script>   
{% endblock %}    