{% load bootstrap4 %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
{% now "Y-m-d" as todays_date %}

<style>
    caption {
        caption-side: top;

    }

    .nowrap {
        white-space: nowrap;
    }

    .inherit {
        height: inherit;
    }
</style>
<div class="container">
    <div class="d-flex flex-wrap flex-md-wrap flex-sm-wrap justify-content-between p-1 m-1">


        <div class="col-lg-4 flex-column col-md-5 col-sm-4  tabini sombra col-lg-offset-1 col-md-offset-1 col-sm-offset-1 flex-md-wrap flex-sm-wrap justify-content-between p-3 m-1"
            style="zoom:90%">

            <h5 align=left><strong><i>Contratos</i></strong></h5>
            <div class="d-flex align-items-center">

                <table class="table table-striped table-dark  nowrap table-sm" style="color: antiquewhite;">
                    <caption>Contratos Ativos</caption>
                    <thead>
                        <tr align="center">
                            <th style="width:100px"></th>
                            <th scope="col" class="text-primary"><strong>RUSTON</strong></th>
                            <th scope="col" class="text-danger"><strong>CDA</strong></th>

                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr align="center">
                            <td class="text-success text-right"><strong>Saldo Real</strong></td>
                            {% if total_abert_rus.quantidade_pedido__sum > 0 and total_carr_rus.peso__sum == None %}
                            <td>{{ total_abert_rus.quantidade_pedido__sum }} Kg</td>
                            {% elif total_abert_rus.quantidade_pedido__sum > 0 and total_carr_rus.peso__sum != None %}
                            <td>{{ total_abert_rus.quantidade_pedido__sum|sub:total_carr_rus.peso__sum }} Kg</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}

                            {% if total_abert_cda.quantidade_pedido__sum > 0 and total_carr_cda.peso__sum == None %}
                            <td>{{ total_abert_cda.quantidade_pedido__sum }} Kg</td>
                            {% elif total_abert_cda.quantidade_pedido__sum > 0 and total_carr_cda.peso__sum != None %}
                            <td>{{ total_abert_cda.quantidade_pedido__sum|sub:total_carr_cda.peso__sum }} Kg</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}


                        </tr>
                        <tr>
                            <td class="text-primary text-right"><strong>Saldo Prev.</strong></td>
                            {% if total_agen_rus.veiculo__sum == None and total_agen_rus2.veiculo__sum == None  %}
                            <td>-</td>

                            {% elif total_abert_rus.quantidade_pedido__sum > 0 and total_carr_rus.peso__sum == None and total_agen_rus.veiculo__sum != None and total_agen_rus2.veiculo__sum == None %}
                            <td>{{ total_abert_rus.quantidade_pedido__sum|sub:total_agen_rus.veiculo__sum }}
                                Kg</td>

                            {% elif total_abert_rus.quantidade_pedido__sum > 0 and total_carr_rus.peso__sum != None and total_agen_rus.veiculo__sum == None and total_agen_rus2.veiculo__sum != None %}
                            <td>{{ total_abert_rus.quantidade_pedido__sum|sub:total_carr_rus.peso__sum|sub:total_agen_rus2.veiculo__sum }}
                                Kg</td>

                            {% elif total_abert_rus.quantidade_pedido__sum > 0 and total_carr_rus.peso__sum != None and total_agen_rus.veiculo__sum != None and total_agen_rus2.veiculo__sum == None %}
                            <td>{{ total_abert_rus.quantidade_pedido__sum|sub:total_carr_rus.peso__sum|sub:total_agen_rus.veiculo__sum }}
                                Kg</td>

                            {% elif total_abert_rus.quantidade_pedido__sum > 0 and total_carr_rus.peso__sum == None and total_agen_rus.veiculo__sum == None and total_agen_rus2.veiculo__sum != None %}
                            <td>{{ total_abert_rus.quantidade_pedido__sum|sub:total_agen_rus2.veiculo__sum }}
                                Kg</td>

                            {% elif total_abert_rus.quantidade_pedido__sum > 0 and total_carr_rus.peso__sum == None and total_agen_rus.veiculo__sum != None and total_agen_rus2.veiculo__sum != None %}
                            <td>{{ total_abert_rus.quantidade_pedido__sum|sub:total_agen_rus2.veiculo__sum|sub:total_agen_rus.veiculo__sum }}
                                Kg</td>

                            {% elif total_abert_rus.quantidade_pedido__sum > 0 and total_carr_rus.peso__sum != None and total_agen_rus.veiculo__sum != None and total_agen_rus2.veiculo__sum != None %}
                            <td>{{ total_abert_rus.quantidade_pedido__sum|sub:total_carr_rus.peso__sum|sub:total_agen_rus.veiculo__sum|sub:total_agen_rus2.veiculo__sum }}
                                Kg</td>


                            {% else %}
                            <td>-</td>
                            {% endif %}

                            {% if total_agen_cda.veiculo__sum == None and total_agen_cda2.veiculo__sum == None  %}
                            <td>-</td>

                            {% elif total_abert_cda.quantidade_pedido__sum > 0 and total_carr_cda.peso__sum == None and total_agen_cda.veiculo__sum != None and total_agen_cda2.veiculo__sum == None %}
                            <td>{{ total_abert_cda.quantidade_pedido__sum|sub:total_agen_cda.veiculo__sum }}
                                Kg</td>

                            {% elif total_abert_cda.quantidade_pedido__sum > 0 and total_carr_cda.peso__sum != None and total_agen_cda.veiculo__sum == None and total_agen_cda2.veiculo__sum != None %}
                            <td>{{ total_abert_cda.quantidade_pedido__sum|sub:total_carr_cda.peso__sum|sub:total_agen_cda2.veiculo__sum }}
                                Kg</td>

                            {% elif total_abert_cda.quantidade_pedido__sum > 0 and total_carr_cda.peso__sum != None and total_agen_cda.veiculo__sum != None and total_agen_cda2.veiculo__sum == None %}
                            <td>{{ total_abert_cda.quantidade_pedido__sum|sub:total_carr_cda.peso__sum|sub:total_agen_cda.veiculo__sum }}
                                Kg</td>

                            {% elif total_abert_cda.quantidade_pedido__sum > 0 and total_carr_cda.peso__sum == None and total_agen_cda.veiculo__sum == None and total_agen_cda2.veiculo__sum != None %}
                            <td>{{ total_abert_cda.quantidade_pedido__sum|sub:total_agen_cda2.veiculo__sum }}
                                Kg</td>

                            {% elif total_abert_cda.quantidade_pedido__sum > 0 and total_carr_cda.peso__sum == None and total_agen_cda.veiculo__sum != None and total_agen_cda2.veiculo__sum != None %}
                            <td>{{ total_abert_cda.quantidade_pedido__sum|sub:total_agen_cda2.veiculo__sum|sub:total_agen_cda.veiculo__sum }}
                                Kg</td>

                            {% elif total_abert_cda.quantidade_pedido__sum > 0 and total_carr_cda.peso__sum != None and total_agen_cda.veiculo__sum != None and total_agen_cda2.veiculo__sum != None %}
                            <td>{{ total_abert_cda.quantidade_pedido__sum|sub:total_carr_cda.peso__sum|sub:total_agen_cda.veiculo__sum|sub:total_agen_cda2.veiculo__sum }}
                                Kg</td>


                            {% else %}
                            <td>-</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="text-warning text-right"><strong>Locais</strong></td>
                            {% if total_ped_abert_rus.contrato__count == 0 %}
                            <td>-</td>
                            {% elif total_ped_abert_rus.contrato__count > 1 %}
                            <td>{{ total_ped_abert_rus.contrato__count }} Locais </td>
                            {% elif total_ped_abert_rus.contrato__count == 1 %}
                            <td>{{ total_ped_abert_rus.contrato__count }} Local </td>
                            {% else %}
                            {% endif %}


                            {% if total_ped_abert_cda.contrato__count == 0 %}
                            <td>-</td>
                            {% elif total_ped_abert_cda.contrato__count > 1 %}
                            <td>{{ total_ped_abert_cda.contrato__count }} Locais </td>
                            {% elif total_ped_abert_cda.contrato__count == 1 %}
                            <td>{{ total_ped_abert_cda.contrato__count }} Local </td>
                            {% else %}
                            {% endif %}






                        </tr>
                        <tr>







                            <!-- {% if carga_rus_sem.veiculo__sum != 0 or carga_rus_sem.veiculo__sum != None and carga_ok_rus_sem.peso__sum != 0 or carga_ok_rus_sem.peso__sum != None %}
                            <td class="text-info">{{ carga_cda_sem.veiculo__sum | addition:carga_ok_cda_sem.peso__sum }} Kg<td>
                            {% elif carga_rus_sem.veiculo__sum == 0 or carga_rus_sem.veiculo__sum == None and carga_ok_rus_sem.peso__sum == 0 or carga_ok_rus_sem.peso__sum == None %}
                            <td class="text-info">-</td>
                            {% elif carga_rus_sem.veiculo__sum == 0 or carga_rus_sem.veiculo__sum == None %}
                            <td class="text-info">{{ carga_ok_rus_sem.peso__sum }} Kg 
                             {% elif carga_ok_rus_sem.peso__sum == 0 or carga_ok_rus_sem.peso__sum == None %}   
                            <td class="text-info">{{ carga_rus_sem.veiculo__sum  }} Kg
                            {% else %}
                            {% endif %}
                            <td class="text-info">
                                {{ carga_rus_sem.veiculo__sum | addition:carga_ok_rus_sem.peso__sum | addition:carga_ok_cda_sem.peso__sum | addition:carga_cda_sem.veiculo__sum }}
                                Kg -->
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


        <div class="col-lg-3 col-md-5 col-sm-4  flex-column tabini sombra col-lg-offset-1 col-md-offset-1 col-sm-offset-1 flex-md-wrap flex-sm-wrap justify-content-between p-3 m-1"
            style="zoom:90%">

            <h5 align=left><strong><i>Carregamentos</i></strong></h5>
            <div class="d-flex align-items-center">

                <table class="table table-striped table-dark nowrap table-sm" style="color: antiquewhite;">
                    <caption>Semana Atual</caption>
                    <thead>
                        <tr align="center">
                            <th style="width:100px"></th>
                            <th scope="col" class="text-primary"><strong>RUSTON</strong></th>
                            <th scope="col" class="text-danger"><strong>CDA</strong></th>

                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr align="center">
                            <td class="text-success text-right"><strong>Carregado</strong></td>
                            {% if carga_ok_rus_sem.peso__sum == 0 or carga_ok_rus_sem.peso__sum == None %}
                            <td>-</td>
                            {% else %}
                            <td>{{ carga_ok_rus_sem.peso__sum|intcomma }} Kg</td>
                            {% endif %}
                            {% if carga_ok_cda_sem.peso__sum == 0 or carga_ok_cda_sem.peso__sum == None %}
                            <td>-</td>
                            {% else %}
                            <td>{{ carga_ok_cda_sem.peso__sum|intcomma }} Kg</td>
                            {% endif %}

                        </tr>
                        <tr>
                            <td class="text-primary text-right"><strong>Carregando</strong></td>
                            {% if  carga_rus_sem_ordem.veiculo__sum == None or carga_rus_sem_ordem.veiculo__sum == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ carga_rus_sem_ordem.veiculo__sum|intcomma }} Kg</td>
                            {% endif %}

                            {% if  carga_cda_sem_ordem.veiculo__sum == None or carga_cda_sem_ordem.veiculo__sum == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ carga_cda_sem_ordem.veiculo__sum|intcomma }} Kg</td>
                            {% endif %}

                        </tr>
                        <tr>
                            <td class="text-warning text-right"><strong>Agendado</strong></td>
                            {% if  carga_rus_sem.veiculo__sum == None or carga_rus_sem.veiculo__sum == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ carga_rus_sem.veiculo__sum|intcomma }} Kg</td>
                            {% endif %}

                            {% if  carga_cda_sem.veiculo__sum == None or carga_cda_sem.veiculo__sum == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ carga_cda_sem.veiculo__sum|intcomma }} Kg</td>
                            {% endif %}





                        </tr>
                        <tr>
                            <td class="text-info text-right"><strong>Total</strong></td>
                            {% if  carga_rus_sem.veiculo__sum != None and carga_ok_rus_sem.peso__sum != None and carga_rus_sem_ordem.veiculo__sum != None %}
                            <td class="text-info"><strong>
                                    {{ carga_rus_sem.veiculo__sum | addition:carga_ok_rus_sem.peso__sum | addition:carga_rus_sem_ordem.veiculo__sum }}
                                    Kg</strong></td>

                            {% elif  carga_rus_sem.veiculo__sum == None and carga_ok_rus_sem.peso__sum == None and carga_rus_sem_ordem.veiculo__sum == None %}
                            <td class="text-info"><strong>-</strong></td>

                            {% elif carga_rus_sem.veiculo__sum == None and carga_rus_sem_ordem.veiculo__sum == None %}
                            <td class="text-info"><strong>{{ carga_ok_rus_sem.peso__sum|intcomma }} Kg</strong></td>

                            {% elif carga_ok_rus_sem.peso__sum == None and carga_rus_sem_ordem.veiculo__sum == None %}
                            <td class="text-info"><strong>{{ carga_rus_sem.veiculo__sum|intcomma }} Kg</strong></td>

                            {% elif carga_ok_rus_sem.peso__sum == None and carga_rus_sem.veiculo__sum == None %}
                            <td class="text-info"><strong>{{ carga_rus_sem_ordem.veiculo__sum|intcomma }}
                                    Kg</strong>
                            </td>

                            {% elif carga_rus_sem.veiculo__sum == None %}
                            <td class="text-info"><strong>
                                    {{ carga_ok_rus_sem.peso__sum | addition:carga_rus_sem_ordem.veiculo__sum }}
                                    Kg</strong></td>

                            {% elif carga_rus_sem_ordem.veiculo__sum == None %}
                            <td class="text-info">
                                <strong>{{ carga_ok_rus_sem.peso__sum | addition:carga_rus_sem.veiculo__sum }}
                                    Kg</strong></td>

                            {% elif carga_ok_rus_sem.peso__sum == None %}
                            <td class="text-info"><strong>
                                    {{ carga_rus_sem_ordem.veiculo__sum | addition:carga_rus_sem.veiculo__sum }}
                                    Kg</strong></td>


                            {% else %}
                            {% endif %}



                            {% if  carga_cda_sem.veiculo__sum != None and carga_ok_cda_sem.peso__sum != None and carga_cda_sem_ordem.veiculo__sum != None %}
                            <td class="text-info"><strong>
                                    {{ carga_cda_sem.veiculo__sum | addition:carga_ok_cda_sem.peso__sum | addition:carga_cda_sem_ordem.veiculo__sum }}
                                    Kg</strong></td>

                            {% elif  carga_cda_sem.veiculo__sum == None and carga_ok_cda_sem.peso__sum == None and carga_cda_sem_ordem.veiculo__sum == None %}
                            <td class="text-info"><strong>-</strong></td>

                            {% elif carga_cda_sem.veiculo__sum == None and carga_cda_sem_ordem.veiculo__sum == None %}
                            <td class="text-info"><strong>{{ carga_ok_cda_sem.peso__sum|intcomma }} Kg</strong></td>

                            {% elif carga_ok_cda_sem.peso__sum == None and carga_cda_sem_ordem.veiculo__sum == None %}
                            <td class="text-info"><strong>{{ carga_cda_sem.veiculo__sum|intcomma }} Kg</strong></td>

                            {% elif carga_ok_cda_sem.peso__sum == None and carga_cda_sem.veiculo__sum == None %}
                            <td class="text-info"><strong>{{ carga_cda_sem_ordem.veiculo__sum|intcomma }} Kg</strong>
                            </td>

                            {% elif carga_cda_sem.veiculo__sum == None %}
                            <td class="text-info"><strong>
                                    {{ carga_ok_cda_sem.peso__sum | addition:carga_cda_sem_ordem.veiculo__sum }}
                                    Kg</strong></td>

                            {% elif carga_cda_sem_ordem.veiculo__sum == None %}
                            <td class="text-info"><strong>
                                    {{ carga_ok_cda_sem.peso__sum | addition:carga_cda_sem.veiculo__sum }}
                                    Kg</strong></td>

                            {% elif carga_ok_cda_sem.peso__sum == None %}
                            <td class="text-info"><strong>
                                    {{ carga_cda_sem_ordem.veiculo__sum | addition:carga_cda_sem.veiculo__sum }}
                                    Kg</strong></td>


                            {% else %}
                            {% endif %}




                            <!-- {% if carga_rus_sem.veiculo__sum != 0 or carga_rus_sem.veiculo__sum != None and carga_ok_rus_sem.peso__sum != 0 or carga_ok_rus_sem.peso__sum != None %}
                            <td class="text-info">{{ carga_cda_sem.veiculo__sum | addition:carga_ok_cda_sem.peso__sum }} Kg<td>
                            {% elif carga_rus_sem.veiculo__sum == 0 or carga_rus_sem.veiculo__sum == None and carga_ok_rus_sem.peso__sum == 0 or carga_ok_rus_sem.peso__sum == None %}
                            <td class="text-info">-</td>
                            {% elif carga_rus_sem.veiculo__sum == 0 or carga_rus_sem.veiculo__sum == None %}
                            <td class="text-info">{{ carga_ok_rus_sem.peso__sum }} Kg 
                             {% elif carga_ok_rus_sem.peso__sum == 0 or carga_ok_rus_sem.peso__sum == None %}   
                            <td class="text-info">{{ carga_rus_sem.veiculo__sum  }} Kg
                            {% else %}
                            {% endif %}
                            <td class="text-info">
                                {{ carga_rus_sem.veiculo__sum | addition:carga_ok_rus_sem.peso__sum | addition:carga_ok_cda_sem.peso__sum | addition:carga_cda_sem.veiculo__sum }}
                                Kg -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-4 flex-column tabini sombra col-lg-offset-1 col-md-offset-1 col-sm-offset-1 flex-md-wrap flex-sm-wrap justify-content-between p-3 m-1"
            style="zoom:90%">

            <h5 align=left><strong><i>Comissões</i></strong></h5>
            <div class="d-flex align-items-center">

                <table class="table table-striped table-dark nowrap table-sm" style="color: antiquewhite;">
                    <caption> .</caption>
                    <thead>
                        <tr align="center">
                            <th style="width:100px"></th>
                            <th scope="col" class="text-primary"><strong>RUSTON</strong></th>
                            <th scope="col" class="text-danger"><strong>CDA</strong></th>

                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr align="center">
                            <td class="text-success text-right"><strong>Semana</strong></td>
                            {% if comisemrus.somacomi == 0 or comisemrus.somacomi == None %}
                            <td class="text"><strong>-</strong></td>
                            {% else %}
                            <td>R$ {{ comisemrus.somacomi|floatformat:"2" }}</td>
                            {% endif %}

                            {% if comisemcda.somacomi == 0 or comisemcda.somacomi == None %}
                            <td class="text"><strong>-</strong></td>
                            {% else %}
                            <td>R$ {{ comisemcda.somacomi|floatformat:"2" }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="text-primary text-right"><strong>Mês</strong></td>
                            {% if comimesrus.somacomi == 0 or comimesrus.somacomi == None %}
                            <td class="text"><strong>-</strong></td>
                            {% else %}
                            <td>R$ {{ comimesrus.somacomi|floatformat:"2" }}</td>
                            {% endif %}

                            {% if comimescda.somacomi == 0 or comimescda.somacomi == None %}
                            <td class="text"><strong>-</strong></td>
                            {% else %}
                            <td>R$ {{ comimescda.somacomi|floatformat:"2" }}</td>
                            {% endif %}

                        </tr>
                        <tr>
                            <td class="text-warning text-right"><strong>Aberto</strong></td>
                            {% if comiaberus.somacomi == 0 or comiaberus.somacomi == None %}
                            <td class="text"><strong>-</strong></td>
                            {% else %}
                            <td>R$ {{ comiaberus.somacomi|floatformat:"2" }}</td>
                            {% endif %}

                            {% if comiabecda.somacomi == 0 or comiabecda.somacomi == None %}
                            <td class="text"><strong>-</strong></td>
                            {% else %}
                            <td>R$ {{ comiabecda.somacomi|floatformat:"2" }}</td>
                            {% endif %}





                        </tr>
                        <tr>
                            <td class="text-warning text-right"><strong>Total</strong></td>
                            {% if comiabecda.somacomi == None and comiaberus.somacomi == None %}
                            <td colspan="2" class="text"><strong>-</strong></td>
                            {% elif comiabecda.somacomi == 0 or comiabecda.somacomi ==  None %}
                            <td colspan="2">R$
                                {{ comiaberus.somacomi|floatformat:"2" }}</td>

                            {% elif comiaberus.somacomi == 0 or comiaberus.somacomi ==  None %}
                            <td colspan="2">R$
                                {{ comiabecda.somacomi|floatformat:"2" }}</td>

                            {% else %}
                            <td colspan="2">R$
                                {{ comiabecda.somacomi|addition:comiaberus.somacomi|floatformat:"2" }}</td>
                            {% endif %}


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>


</div>


{% endblock %}