{% load bootstrap4 %}
{% load humanize %}
{% block content %}
{% load mathfilters %}
{% load static %}
{% now "Y-m-d" as todays_date %}
{% load  corretora_extras %}

<style>
.modal-backdrop {
    z-index: -1 !important;
    background-color: #363639 !important;
}



.modal {
    background-color:  rgba(0, 0, 0, 0.5) !important;
}

body:not(.modal-open){
    padding-right: 0px !important;
}
</style>
<!--Resumo Fornecedores-->





<!--Tabela de pedidos-->

<div id="waittabeladash" data-tabeladash-url="{% url 'tabeladashboarbase' %}">
    <div class="d-flex justify-content-center mt-4">
        <h3><i class="fas fa-lg fa-spinner fa-spin text-success"></i></h3>
    </div>
</div>
<div id="ajaxtabeladash" ></div>




<!--Tabela de pedidos-->

<div id="wait" data-pedido-url="{% url 'tabelapedidos' %}">
    <div class="d-flex justify-content-center mt-4">
        <h3><i class="fas fa-lg fa-spinner fa-spin text-warning"></i></h3>
    </div>
</div>
<div id="ajaxpedidos" ></div>

<!--Tabela das cargas-->
<div id="waitcargas" data-carga-url="{% url 'tabelacargas' %}">
    <div class="d-flex justify-content-center mt-4">
        <h3><i class="fas fa-lg fa-spinner fa-spin text-primary"></i></h3>
    </div>
</div>
<div id="ajaxcargas" ></div>



{% include 'modal_cargas.html' %}
{% include 'modal_cargas_chegada.html' %}
{% include 'modal_cargas_buonny.html' %}
{% include 'modal_cargas_classificacao.html' %}
        
{% endblock %}

{% block js %}
<script src="{% static 'js/tabelasbasecorretora.js' %}"></script>   
<script src="{% static 'js/patas.js' %}"></script>   
{% endblock %}    