{% load bootstrap4 %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
{% now "Y-m-d" as todays_date %}
{% load  corretora_extras %}
{% load static %}
<style>
    caption {
        caption-side: top;

    }

    .nowrap {
        white-space: nowrap;
    }

    .inherit {
        height: inherit;
    }

    .marcelopata {
        overflow-x: auto;
    }



    #contratos,
    #comissoes,
    #carregamentos {
        max-height: 900px;
        transition: max-height 1.5s linear;
        overflow-y: hidden;
    }

    #contratos.hide,
    #comissoes.hide,
    #carregamentos.hide {
        max-height: 0;
        pointer-events: none;


    }

    .fa-eye-slash,
    .fa-eye {
        font-size: 15px;
    }

    .fa-eye-slash,
    .fa-eye {
        padding-left: 20px;
        padding-right: 4px;
    }

    .table-hover>tbody>tr:hover>td,
    .table-hover>tbody>tr:hover>th {
        background-color: #111111;
        color: whitesmoke;
    }

    thead {
        background-color: black !important;
    }
    table tfoot tr td {
        height: 12px;
    }

</style>

<div class="container-fluid">
    <div class="d-flex flex-wrap flex-md-wrap flex-sm-wrap justify-content-start m-1 p-2">



        <div class="col-lg-5  col-md-6 col-sm-12 tabini sombra  justify-content-between p-2 m-1 marcelopata2"
            style="zoom:90%">

            <h5 align=left><strong><i>Contratos</i></strong>
            </h5>
            <div class="d-flex align-items-center hide marcelopata flex-fill" id="contratos">

                <table
                    class="table tabledash table-round-corner table-dark table-striped table-hover table-borderless  nowrap table-sm cabecalho"
                    style="color: antiquewhite;">
                    <caption><strong>Contratos Ativos</strong></caption>
                    <thead>
                        <tr align="center">
                            <th scope="col" class="text text-center"><strong>Clientes</strong></th>
                            <th scope="col" class="text-success text-center"><strong>Saldo Real</strong></th>
                            <th scope="col" class="text-primary text-center"><strong>Saldo Prev.</strong></th>
                            <th scope="col" class="text-warning text-center"><strong>Pedido</strong></th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        {% for cliente in clientes %}
                        <tr align=" center" class="simplehighlight">
                            {% if cliente.locaiscarrega > 0 %}
                            
                            <td style="color: {{cliente.color}}"><em><strong>{{ cliente.nome_fantasia|upper }}</strong></em></td>



                            {% if cliente.saldopedido < 0 %}
                            <td class="text text-danger"><b>{{ cliente.saldopedido }} Kg</b></td>
                            {% elif cliente.saldopedido > 0 %}
                            <td>{{ cliente.saldopedido }} Kg</td>
                            {% elif cliente.saldopedido == 0 %}
                            <td>-</td>
                            {% else %}
                            {% endif %}




                            {% if cliente.saldoprevisto == cliente.saldopedido  %}
                            <td align="center">-</td>
                            {% elif cliente.saldoprevisto < cliente.saldopedido and cliente.saldoprevisto < 0 %}
                            <td class="text text-danger"><b>{{ cliente.saldoprevisto }} Kg</b></td>
                            {% else %}
                            <td>{{ cliente.saldoprevisto }} Kg</td>
                            {% endif %}




                            <td>{{ cliente.locaiscarrega }} Pedido{{ cliente.locaiscarrega|pluralize }} </td>
                            {% else %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    {% if user.is_superuser %}
    <div class="d-flex flex-wrap flex-md-wrap flex-sm-wrap justify-content-start m-1 p-2">
        <div class="flex-grow-1  tabini sombra  justify-content-between p-2 m-1 marcelopata2"
            style="zoom:90%">

            <h5 align=left><strong><i>Comissões</i></strong><a><i class="fas fa-eye text-info" id="ocultm"
                        onclick="ocultarmostrar('comissoes', 'ocultm')"></i></a>
            </h5>
            <div class="d-flex align-items-center hide marcelopata flex-fill" id="comissoes">

                <table
                    class="table tabledash table-round-corner table-striped table-borderless table-hover table-dark nowrap table-sm cabecalho"
                    style="color: antiquewhite; ">
                    <caption><strong><b class="text-warning">Total Aberto - {% for cliente in clientes %}{% if 'ust' in cliente.nome|lower %}
                            R$ {{ cliente.comissaoabertocascatotal|slice:"1"|floatformat:'2'}}</b>
                            {% else %}
                            {% endif %}{% endfor %}</strong></caption>
                    <thead>
                        <tr align="center">
                            <th scope="col" class="text text-center"><strong>Clientes</strong></th>
                            {% now "Y-n" as current_month %}       
                            {% for c in clientes|slice:":1" %}
                            {% for key, value in c.carregado_geral_por_geral.items %}                           
                            {% if key == current_month %}
                            <th scope="col" class="text-success text-center"><strong>{{key|nome_mes_conforme_dict}}</strong></th>
                            {% else %}
                                <th scope="col" class="text-secondary text-center"><strong>{{key|nome_mes_conforme_dict}}</strong>
                            </th>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}                                
                            <th scope="col" class="text-primary text-center"><strong>Semana</strong></th>
                            <th scope="col" class="text-warning text-center"><strong>Aberto</strong></th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        {% for cliente in clientes %}                        
                        <tr align=" center" class="simplehighlight">
                           {% if cliente.comissao_ultimos_meses > 0 or cliente.comissaoabertocasca > 0 %}
                            <td style="color: {{cliente.color}}"><em><strong>{{ cliente.nome_fantasia|upper }}</strong></em></td>

                            {% for key, value in cliente.comissao_geral_por_cliente.items %}
                            {% if value > 0 %}
                            <td>R$ {{value|floatformat:"2"}}</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            {% endfor %}

                            {% if cliente.comissaosemanacasca == 0 %}
                            <td align="center">- </td>
                            {% else %}
                            <td>R$ {{ cliente.comissaosemanacasca|floatformat:"2" }}</td>
                            {% endif %}
                            
                            {% if cliente.comissaoabertocasca == 0 %}
                            <td align="center">- </td>
                            {% else %}
                            <td class="text text-warning"><strong><i>R$
                                        {{ cliente.comissaoabertocasca|floatformat:"2" }}</strong></i></td>
                            {% endif %}
                            {% else %}
                            {% endif %}
                            
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="d-flex flex-wrap flex-md-wrap flex-sm-wrap justify-content-start m-1 p-2">

        <div class="col-lg-12 col-md-12 col-sm-12 col-12  tabini sombra  justify-content-between p-2 m-1 marcelopata2"
            style="zoom:90%">

            <h5 align=left><strong><i>Carregamentos</i></strong></h5>
            <div class="d-flex align-items-center hide marcelopata flex-fill" id="carregamentos">

                <table
                    class="table tabledash table-striped table-borderless table-hover table-dark nowrap table-sm cabecalho"
                    style="color: antiquewhite;">
                    <caption><strong><b class="text-warning">Semana Atual - {% for cliente in clientes %}{% if 'ust' in cliente.nome|lower %}
                            {{ cliente.carregadosemanatotal|intcomma }} Kg </b>&ensp;&ensp; / &ensp;&ensp;<b class="text-success">Mês Atual -
                            {{ cliente.carregadomestotal|intcomma }} Kg </b>
                            {% else %}
                            {% endif %}{% endfor %}</strong></caption>
                    <thead>
                        <tr align="center">
                            <th scope="col" class="text text-center"><strong>Clientes</strong></th>
                            <th scope="col" class="text-success text-center"><strong>Carregado</strong></th>
                            <th scope="col" class="text-primary text-center"><strong>Carregando</strong></th>
                            <th scope="col" class="text-warning text-center"><strong>Agendado</strong></th>
                            <th scope="col" class="text-info text-center"><strong>Total</strong></th>
                            <th scope="col" class="text-warning text-center"><strong>Semana Seguinte</strong></th>
                            {% now "Y-n" as current_month %}                            
                            {% for c in clientes|slice:":1" %}
                            {% for key, value in c.carregado_geral_por_geral.items %}                           
                            {% if key == current_month %}
                            <th scope="col" class="text-success text-center"><strong>{{key|nome_mes_conforme_dict}}</strong></th>
                            {% else %}
                                <th scope="col" class="text-secondary text-center"><strong>{{key|nome_mes_conforme_dict}}</strong>
                            </th>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}                            
                        </tr>
                    </thead>
                    <tbody align="center">
                        {% for cliente in clientes %}
                        <tr align=" center" class="simplehighlight">                            
                            {% if cliente.carregamento_ultimos_meses >  0 %}
                            <td style="color: {{cliente.color}}"><em><strong>{{ cliente.nome_fantasia|upper }}</strong></em></td>

                            {% if cliente.carregadosemana == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ cliente.carregadosemana }} Kg</td>
                            {% endif %}

                            {% if cliente.agendadoordemsemana == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ cliente.agendadoordemsemana }} Kg</td>
                            {% endif %}

                            {% if cliente.agendadosemana == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ cliente.agendadosemana }} Kg</td>
                            {% endif %}
                            {% if cliente.totalsemana == 0 %}
                            <td>-</td>
                            {% else %}
                            <td class="text-info"><strong>{{ cliente.totalsemana }} Kg</strong></td>
                            {% endif %}

                            {% if cliente.agendadosemanaseguinte == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ cliente.agendadosemanaseguinte }} Kg</td>
                            {% endif %}

                            {% for key, value in cliente.carregado_geral_por_cliente.items %}
                            {% if value > 0 %}
                            <td>{{value}} Kg</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            {% endfor %}

                            {% else %}
                            {% endif %}

                        </tr>
                        {% endfor %}
                    </tbody>
                        <tfoot style="background-color: black; color: whitesmoke; font-size: 10px !important;">
                            {% for c in clientes|slice:":1" %}
                            <tr>
                                <td colspan=""></td>                                                                    
                                <td colspan=""></td>                                                                    
                                <td colspan=""></td>                                                                    
                                <td colspan=""></td>                                                                    
                                <td colspan=""></td>                                                                    
                                <td colspan=""></td>                                                                    
                                {% for key, value in c.carregado_geral_por_geral.items %}
                                <td class="text-center">{{value|intcomma}} Kg</td>       
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tfoot> 
                </table>
            </div>
        </div>
    </div>

   


</div>

<!-- jQuery -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- Meu Script -->
<script type="text/javascript" src="{% static 'js/marcelopata.js' %}"></script>


{% endblock %}
