.marcelopata {
        

        border-radius: 10px; /* 5px rounded corners */
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;        
        display: inline-flex;
        align-items: center;        
    }


        

.marcelopata2 {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px; /* 5px rounded corners */
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;        
    }

table ,tr {
    border-radius: 10px; /* 5px rounded corners */
    
}

table
.borderless td, .borderless th {
    border: none;
}
