{% extends 'base.html' %}
{% load i18n %}


{% block content %}


<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>403</h1>
                        <h2 style="color:red">{% trans 'Você não tem Autorização pra acessar esta Página' %}<br /></h2>
                        <p class="p-heading p-large">
                            {% trans 'Volte para a página de Login' %}</p>
                        <a class="btn-solid-lg page-scroll" href="{% url 'login' %}">{% trans 'Voltar'%}</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header>

{% endblock %}