{% extends 'base.html' %}

{% block content %}

<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>404</h1>
                        <h2>Página não Encontrada</h2>
                        <p class="p-heading p-large">Infelizmente a página que você procura não está disponível.<br />
                            Volte para a página principal</p>
                        <a class="btn-solid-lg page-scroll" href="{% url 'index' %}">Voltar</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header>

{% endblock %}