{% extends 'base.html' %}
{% load i18n %}
{% block content %}



<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>500</h1>
                        <h2>{% trans 'Erro de processamento' %}</h2>
                        <p class="p-heading p-large">
                            {% trans 'Infelizmente não foi possível processar a requisição.' %}<br />
                            {% trans 'Volte para a página principal' %}</p>
                        <a class="btn-solid-lg page-scroll" href="{% url 'index' %}">{% trans 'Voltar' %}</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header>


{% endblock %}