{% load static %}

<div id="callMe" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">CONTATE ME</div>
                    <h2 class="white">Preencha o formulário e entraremos em contato com você.</h2>
                    <p class="white">Você está a poucos passos de receber um atendimento personalizado.
                        Basta preencher o formulário que entraremos em contato com você o mais breve possível.
                    </p>
                    <ul class="list-unstyled li-space-lg white">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">É muito fácil, basta preencher que ligamos para você</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Precisaremos de mais informações sobre o interesse em nossa
                                empresa</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Não hesite em nos enviar um e-mail sobre qualquer dúvida ou pergunta
                            </div>
                        </li>
                    </ul>
                </div>
            </div> <!-- end of col -->
            <div class="col-lg-6">

                <!-- Call Me Form -->
                <br />
                <br />
                <form id="contato" method="post" data-toggle="validator" data-focus="false">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="nome" name="nome" required>
                        <label class="label-control">Nome</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="email" name="email" required>
                        <label class="label-control">Telefone</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control-input" id="email" name="email" required>
                        <label class="label-control">Email</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control-select" id="lselect" required>
                            <option class="select-option" disabled selected>Interessado em...</option>
                            <option class="select-option" id="mensagem" name="mensagem" value="Fornecer Arroz em Casca">
                                Fornecer Arroz em Casca</option>
                            <option class="select-option" id="mensagem" name="mensagem" value="Beneficiamento de Arroz">
                                Beneficiamento de Arroz</option>
                            <option class="select-option" id="mensagem" name="mensagem" value="Importação e Exportação">
                                Importação e Exportação</option>
                            <option class="select-option" id="mensagem" name="mensagem" value="Logística">Logística
                            </option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">CONTATE ME</button>
                    </div>
                    <div class="form-message">
                        <div id="lmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
                <!-- end of call me form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>