{% load static %}


<div class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for s in sobretopicos %}
                <!-- Card -->
                <div class="card">
                    <span class="fa-stack">
                        <span class="hexagon"></span>
                        <i class="fas {{ s.icone }} fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">{{ s.sobretopico }}</h4>
                        <p>{{ s.descricao }}</p>
                    </div>
                </div>
                <!-- end of card -->
                {% endfor %}
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>