{% extends 'base.html' %}
{% load static %}
{% block content%}





<!-- Header -->
{% include 'header.html' %}
<!-- end of header -->
<!-- end of header -->


<!-- Intro -->
{% include 'intro.html' %}
<!-- end of intro -->


<!-- Description -->
{% include 'descricao.html' %}
<!-- end of cards-1 -->
<!-- end of description -->


<!-- Services -->
{% include 'servicos.html' %}
<!-- end of cards-2 -->
<!-- end of services -->



<!-- Call Me -->
{% include 'callme.html' %}
<!-- end of form-1 -->
<!-- end of call me -->


<!-- Projects -->
{% include 'projetos.html' %}
<!-- end of project lightboxes -->



<!-- About -->
{% include 'sobre.html' %}
<!-- end of counter -->
<!-- end of about -->


<!-- Contact -->
{% include 'contato.html' %}
<!-- end of form-2 -->
<!-- end of contact -->



{% endblock %}