{% extends 'base2.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="container">
        <svg class="bi bi-bar-chart" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5h-2v12h2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
        </svg>
    </div>
    <h1> Corretora de Cereais </h1>
    {% if user.is_anonymous %}
    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
    {% else %}
    <div class="container" align=center>
        <div class="col-lg-4 col-md-6 col-sm-8 col-8 alert alert-primary" role="alert">
            Seja Bem Vindo(a) {{ user.get_full_name|title }}!!
        </div>
    </div>
    <div class="container" align=center>
        <div class="inline-flex">
            <a class="col-lg-3 col-md-5 col-sm-7 col-6 p-1 m-1 btn btn-primary"
                href="{% url 'corretora' %}">Corretora</a>
        </div>
    </div>
    <div class="container" align=center>
        <div class="inline-flex justify-content-between">
            <a class="col-lg-1 col-md-2 col-sm-3 col-2 p-1 ml-2 btn btn-outline-primary" target="_blank"
                href="{% url 'pedidos' %}">Pedidos</a>

            <a class="col-lg-1 col-md-2 col-sm-3 col-2 p-1 m-1 btn btn-outline-primary" target="_blank"
                href="{% url 'cargas' %}">Cargas</a>
        </div>
    </div>
    <br />
    <div class="container" align=center>
        <a class="btn btn-outline-danger btn-sm" href="{% url 'logout' %}">Logout</a>
        <a class="btn btn-outline-warning btn-sm" target="_blank" href="{% url 'admin:index'  %}">Admin</a>
    </div>
    <br />

    {% endif %}
</div>

{% endblock %}