{% extends 'base2.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<style>
    .dropdown-item {
        font-size: 12px;
        font-weight: bold !important;
        padding-right: 0px !important;
        padding-left: 15px !important;
        width: 135px !important;
        min-width: 110px !important;
        background-color: whitesmoke !important;

    }

    .dropdown-item:hover {
        background-color: #0275d8 !important;
        color: whitesmoke !important;
        border-radius: 2px !important;
    }

    .dropdown-menu {
        margin: 0px;
        padding: 0px !important;
        width: 100px !important;
        min-width: 110px !important;

    }

    .cargasnote {
        position: relative;
        left: -2%;
    }

    .pedidosnote {
        position: relative;
        right: 1%;
    }

    /* .btn-group {
        margin:0px 10px;
    } */

    

</style>
<div class="container d-flex flex-column  justify-content-center">
    <div class="container">
        <svg class="bi bi-bar-chart" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5h-2v12h2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
        </svg>
    </div>
    <h1> Corretora de Cereais </h1>
    {% if user.is_anonymous %}
    <div class="container d-inline-flex  justify-content-center">
    <a class="btn btn-primary col-lg-1 col-md-2 col-sm-3 col-3" href="{% url 'login' %}">Login</a>
    </div>
    {% else %}
    <div class="container" align=center>
        <div class="col-lg-5 col-md-7 col-sm-9 col-11 alert alert-primary" role="alert">
            Seja Bem Vindo(a) {{ user.get_full_name|title }}!!
        </div>
    </div>
    {% if user.is_superuser %}
    <div class="container" align=center style="margin-bottom:10px;">
        <div class="inline-flex">
            <a class="col-lg-2 col-md-3 col-sm-4 col-4  btn btn-primary"
                href="{% url 'corretora' %}">Corretora</a>
            <a class="col-lg-2 col-md-3 col-sm-4 col-4  btn btn-success" href="{% url 'dashboard' %}"
                target="_blank">Painel</a>
        </div>
    </div>
    {% else %}
    <div class="container" align=center style="margin-bottom:10px;">
        <div class="inline-flex">
            <a class="col-lg-3 col-md-5 col-sm-7 col-8  btn btn-primary"
                href="{% url 'corretora' %}">Corretora</a>
        </div>  
    </div>
    {% endif %}
    <div class="container d-flex ">        
        <div class="container d-inline-flex  justify-content-center">
            <div class="col-lg-3 col-md-5 col-sm-7 col-7 d-flex justify-content-around">
                <div class="btn-group pedidosnote" >
                    <button type="button" class="btn btn-outline-primary"
                        onclick='window.location.href="{% url 'pedidos' %}"'>Pedidos</button>
                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </button>                
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'add_pedidos' %}" target="_blank">Add Pedido</a>                    
                    </div>
                </div>

                <div class="cargasnote">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary"
                            onclick='window.location.href="{% url 'cargas' %}"'>Cargas</button>
                        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'add_age_cargas' %}" target="_blank">Agendar</a>
                            <a class="dropdown-item" href="{% url 'cargasfiltro' %}" target="_blank">Cargas F.</a>                
                            <a class="dropdown-item" href="{% url 'agendamento' %}" target="_blank">Descarga Ruston</a>
                
                        </div>
                    </div>
                </div>
                <div class="cargasmb">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary"
                            onclick='window.location.href="{% url 'cargasmb' %}"'>Cargas</button>
                        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'add_age_cargas' %}" target="_blank">Agendar</a>
                            <a class="dropdown-item" href="{% url 'cargasfiltro' %}" target="_blank">Cargas F.</a>                
                            <a class="dropdown-item" href="{% url 'agendamento' %}" target="_blank">Descarga Ruston</a>
                
                        </div>
                    </div>
                </div>
            </div> 
        
    </div> 

    



    </div>
    <br />
    <div class="container" align=center>
        <a class="btn btn-outline-danger btn-sm" href="{% url 'logout' %}">Logout</a>
        <a class="btn btn-outline-warning btn-sm" target="_blank" href="{% url 'admin:index'  %}"
            style="margin-left: 5px;">Admin</a>
    </div>
    <br />

    {% endif %}
</div>

{% endblock %}
